<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>에셋</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>이미지</th>
                    <th>주소복사</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <% assets.forEach(asset => { %>
                  <form action="/admin/assets/edit/<%= asset.id %>" method="POST">
                    <input type="hidden" name="type" value="image">
                    <tr>
                      <td><%= asset.id %></td>
                      <td><a href="<%= locals.s3Host %>/assets/<%= asset.image %>" target="_blank"><img src="<%= locals.s3Host %>/assets/<%= asset.image %>" alt="<%= asset.image %>"></a></td>
                      <td><input type="text" disabled value="<%= locals.s3Host %>/assets/<%= asset.image %>"></td>
                      <td><button name="submit" value="delete">삭제</button></td>
                    </tr>
                  </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <%- include('../pagination') %>
          <section>
            <h2>신규 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>이미지</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/assets/new" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="image">
                    <tr>
                      <td><input type="file" name="images" multiple></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>