<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>출석 포인트 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>출석 포인트</th>
                    <th>출석 문구 사용</th>
                    <th>출석 문구</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/check" method="POST">
                    <tr>
                      <td><input type="text" name="checkPoint" value="<%= setting.checkPoint %>" placeholder="출석 포인트"></td>
                      <td><input type="checkbox" name="useCheckComments" value="1" <% if (setting.useCheckComments) { %> checked<% } %>></td>
                      <td><textarea name="checkComments" placeholder="출석 문구 (콤마 또는 엔터 구분)"><%= setting.checkComments %></textarea></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>출석 개근 포인트</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>일 이상</th>
                    <th>포인트</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <% checkContinues.forEach(checkContinue => { %>
                  <form action="/admin/check/edit/<%= checkContinue.id %>" method="POST">
                    <tr>
                      <td><input type="text" name="date" value="<%= checkContinue.date %>" placeholder="일 이상"></td>
                      <td><input type="text" name="point" value="<%= checkContinue.point %>" placeholder="포인트"></td>
                      <td><button name="submit" value="edit">수정</button></td>
                      <td><button name="submit" value="delete">삭제</button></td>
                    </tr>
                  </form>
                  <% }) %>
              </table>
            </div>
          </section>
          <section>
            <h2>신규 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>일 이상</th>
                    <th>포인트</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/check/new" method="POST">
                    <tr>
                      <td><input type="text" name="date" placeholder="일 이상"></td>
                      <td><input type="text" name="point" placeholder="포인트"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>