<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <h2>히든 설정</h2>
          <div class="tableWrap">
            <table>
              <thead>
                <tr>
                  <th rowspan="2">인덱스</th>
                  <th colspan="5">레이아웃</th>
                  <th rowspan="2">등록</th>
                </tr>
                <tr>
                  <th>고정</th>
                  <th>상단</th>
                  <th>하단</th>
                  <th>첫페이지</th>
                  <th>랜딩페이지</th>
                </tr>
              </thead>
              <tbody>
                <form action="/admin/hidden" method="POST">
                  <tr>
                    <td>
                      <select name="index">
                        <option value="basic"<% if (setting.index === 'basic') { %> selected<% } %>>기본</option>
                        <option value="landing"<% if (setting.index === 'landing') { %> selected<% } %>>랜딩페이지</option>
                      </select>
                    </td>
                    <td>
                      <input type="checkbox" name="useCustomLayout" value="1"<% if (setting.useCustomLayout) { %> checked<% } %>>
                    </td>
                    <td><input type="text" name="headerLayout" value="<%= setting.headerLayout %>" placeholder="상단"></td>
                    <td><input type="text" name="footerLayout" value="<%= setting.footerLayout %>" placeholder="하단"></td>
                    <td><input type="text" name="indexLayout" value="<%= setting.indexLayout %>" placeholder="첫페이지"></td>
                    <td><input type="text" name="landingLayout" value="<%= setting.landingLayout %>" placeholder="랜딩페이지"></td>
                    <td><button>등록</button></td>
                  </tr>
                </form>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </main>
  </body>
</html>