<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>페이지</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>타입</th>
                    <th>제목</th>
                    <th>연결 주소</th>
                    <th>수정</th>
                    <th>삭제</th>
                    <th>상태</th>
                  </tr>
                </thead>
                <tbody>
                  <% pages.forEach(page => { %>
                  <form action="/admin/page/edit/<%= page.id %>" method="POST">
                    <tr>
                      <td><%= page.id %></td>
                      <td><%= page.type %></td>
                      <td><%= page.title %></td>
                      <td><%= page.slug %></td>
                      <td><a href="/admin/page/edit/<%= page.id %>"><button type="button">수정</button></a></td>
                      <td><button name="submit" value="delete">삭제</button></td>
                      <% if (page.status === 1) { %>
                      <td><button name="submit" value="status">발행</button></td>
                      <% } else { %>
                      <td><button name="submit" value="status">임시저장</button></td>
                      <% } %>
                    </tr>
                  </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <%- include('../pagination') %>
          <div class="button"><a href="/admin/page/new">페이지 만들기</a></div>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>