<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>회원등급 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>자동 회원등급 사용</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/permission" method="POST">
                    <tr>
                      <td><input type="checkbox" name="useAutoPermission" value="1"<% if (locals.setting.useAutoPermission) { %> checked<% } %>></td>
                      <td><button>설정</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>회원등급</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>권한</th>
                    <th>타이틀</th>
                    <th>자동등업 포인트 기준</th>
                    <th>관리자</th>
                    <th>이미지</th>
                    <th>수정</th>
                    <th>삭제</th>
                    <th>이미지 초기화</th>
                  </tr>
                </thead>
                <tbody>
                  <% permissions.forEach(p => { %>
                  <form action="/admin/permission/edit/<%= p.id %>" method="POST" enctype="multipart/form-data">
                    <tr>
                      <td><%= p.permission %></td>
                      <td><input type="text" name="title" value="<%= p.title %>" placeholder="타이틀"></td>
                      <td><input type="text" name="pointBaseline" value="<%= p.pointBaseline %>" placeholder="등업 포인트"></td>
                      <td><input type="checkbox" name="isAdmin" value="1"<% if (p.isAdmin) { %> checked<% } %>></td>
                      <td>
                        <% if (p.image) { %>
                        <div><img src="<%= locals.s3Host %>/permission/<%= p.image %>"></div>
                        <% } %>
                        <div><input type="file" name="image"></div>
                      </td>
                      <td><button name="submit" value="edit">수정</button></td>
                      <td><button name="submit" value="delete">삭제</button></td>
                      <td><button name="submit" value="resetImage">초기화</button></td>
                    </tr>
                  </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <h2>신규 등록</h2>
          <section>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>권한</th>
                    <th>타이틀</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/permission/new" method="POST">
                    <tr>
                      <td><input type="text" name="permission" placeholder="권한"></td>
                      <td><input type="text" name="title" placeholder="타이틀"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>