<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>사이트 기본 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th rowspan="2">사이트 이름</th>
                    <th colspan="2">SEO</th>
                    <th rowspan="2">사이트 주소</th>
                    <th rowspan="2">등록</th>
                  </tr>
                  <tr>
                    <th>사이트 이름</th>
                    <th>사이트 설명</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/basic" method="POST">
                    <tr>
                      <td><input type="text" name="siteNameRaw" value="<%= setting.siteNameRaw %>" placeholder="사이트 이름 (순수)"></td>
                      <td><input type="text" name="siteName" value="<%= setting.siteName %>" placeholder="사이트 이름 (SEO)"></td>
                      <td><input type="text" name="siteDescription" value="<%= setting.siteDescription %>" placeholder="사이트 설명"></td>
                      <td><input type="text" name="siteDomain" value="<%= setting.siteDomain %>" placeholder="사이트 주소"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>하단 디자인</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <td>하단 가이드</td>
                    <td>설정</td>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/footer" method="POST">
                    <tr>
                      <td><textarea name="footerGuide" style="height: 120px;"><%= setting.footerGuide %></textarea></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>이메일 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>서비스</th>
                    <th>이메일</th>
                    <th>비밀번호</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/email" method="POST">
                    <tr>
                      <td>
                        <select name="emailService">
                          <option value="gmail">gmail</option>
                        </select>
                      </td>
                      <td><input type="text" name="emailUser" value="<%= setting.emailUser %>" placeholder="이메일 (예:user@gmail.com)"></td>
                      <td><input type="password" name="emailPassword" value="<%= setting.emailPassword %>" placeholder="비밀번호"></td>
                      <td><button>등록</button></td>
                    </tr>
                    <tr>
                      <td colspan="4">'Google 계정 관리 > 보안 > 보안 수준이 낮은 앱의 액세스' 를 사용으로 변경</td>
                    </tr>
                    <tr>
                      <td colspan="4"><a href="https://accounts.google.com/DisplayUnlockCaptcha" target="_blank">이메일 발송이 되지 않을경우 클릭</a></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>디자인 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>로고 타입</th>
                    <th>로고 이미지 사이즈</th>
                    <th>로고 이미지</th>
                    <th>파비콘</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/design" method="POST" enctype="multipart/form-data">
                    <tr>
                      <td>
                        <select name="logoType">
                          <option value="text" <% if (setting.logoType === 'text') { %> selected<% } %>>텍스트</option>
                          <option value="image" <% if (setting.logoType === 'image') { %> selected<% } %>>이미지</option>
                        </select>
                      </td>
                      <td><input type="text" name="logoImageSize" value="<%= setting.logoImageSize %>"></td>
                      <td>
                        <% if (setting.logoImage) { %>
                        <div><img src="<%= s3Host %>/assets/<%= setting.logoImage %>" alt="logo"></div>
                        <% } %>
                        <div><input type="file" name="logo"></div>
                      </td>
                      <td>
                        <% if (setting.faviconImage) { %>
                        <div><img src="<%= s3Host %>/assets/<%= setting.faviconImage %>" alt="favicon"></div>
                        <% } %>
                        <div><input type="file" name="favicon"></div>
                      </td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>레이아웃</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th rowspan="2">폰트</th>
                    <th rowspan="2">색상 테마</th>
                    <th rowspan="2">게시판 테마</th>
                    <th colspan="3">레이아웃</th>
                    <th rowspan="2">등록</th>
                  </tr>
                  <tr>
                    <th>상단</th>
                    <th>하단</th>
                    <th>첫페이지</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/layout" method="POST">
                    <tr>
                      <td>
                        <select name="font">
                          <option value="basic"<% if (setting.font === 'basic') { %> selected<% } %>>시스템 기본 폰트</option>
                          <option value="nexon"<% if (setting.font === 'nexon') { %> selected<% } %>>넥슨 고딕 V2</option>
                          <option value="gmarket"<% if (setting.font === 'gmarket') { %> selected<% } %>>지마켓 산스</option>
                        </select>
                      </td>
                      <td>
                        <select name="theme">
                          <option value="white"<% if (setting.theme === 'white') { %> selected<% } %>>화이트</option>
                          <option value="black"<% if (setting.theme === 'black') { %> selected<% } %>>블랙</option>
                        </select>
                      </td>
                      <td>
                        <select name="boardLayout">
                          <option value="basic"<% if (setting.boardTheme === 'basic') { %> selected<% } %>>기본</option>
                        </select>
                      </td>
                      <td>
                        <select name="headerLayout">
                          <option value="basic"<% if (setting.headerLayout === 'basic') { %> selected<% } %>>기본</option>
                          <option value="header_main"<% if (setting.headerLayout === 'header_main') { %> selected<% } %>>header_main</option>
                          <!-- <option value="xbx05a"<% if (setting.headerLayout === 'xbx05a') { %> selected<% } %>>xbx05a</option> -->
                        </select>
                      </td>
                      <td>
                        <select name="footerLayout">
                          <option value="basic"<% if (setting.footerLayout === 'basic') { %> selected<% } %>>기본</option>
                        </select>
                      </td>
                      <td>
                        <select name="indexLayout">
                          <option value="basic"<% if (setting.indexLayout === 'basic') { %> selected<% } %>>기본</option>
                        </select>
                      </td>
                      <td><button name="submit">등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>기타 디자인 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>헤더 글씨색상</th>
                    <th>헤더 배경색상</th>
                    <th>본문 글씨색상</th>
                    <th>본문 배경색상</th>
                    <th>포인트 색상</th>
                    <th>포인트 배경색상</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/etcdesign" method="POST">
                    <tr>
                      <td><input type="text" name="headerFontColor" value="<%= setting.headerFontColor %>" placeholder="헤더 글씨색상"></td>
                      <td><input type="text" name="headerBackgroundColor" value="<%= setting.headerBackgroundColor %>" placeholder="헤더 배경색상"></td>
                      <td><input type="text" name="bodyFontColor" value="<%= setting.bodyFontColor %>" placeholder="본문 글씨색상"></td>
                      <td><input type="text" name="bodyBackgroundColor" value="<%= setting.bodyBackgroundColor %>" placeholder="본문 배경색상"></td>
                      <td><input type="text" name="pointColor" value="<%= setting.pointColor %>" placeholder="포인트 색상"></td>
                      <td><input type="text" name="pointBackgroundColor" value="<%= setting.pointBackgroundColor %>" placeholder="포인트 배경색상"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>배너</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th colspan="8">데스크탑</th>
                    <th rowspan="2">배너 라운딩</th>
                    <th rowspan="2">데스크탑 간격</th>
                    <th rowspan="2">모바일 간격</th>
                    <th rowspan="2">설정</th>
                  </tr>
                  <tr>
                    <th>헤더</th>
                    <th>첫페이지 상단</th>
                    <th>첫페이지 하단</th>
                    <th>사이드 상단</th>
                    <th>사이드 하단</th>
                    <th>본문 상단</th>
                    <th>본문 하단</th>
                    <th>커스텀</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/banner" method="POST">
                  <tr>
                    <td>
                      <select name="desktopBannerRowsHeader">
                        <option value="1"<% if (setting.desktopBannerRowsHeader === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsHeader === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsHeader === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsHeader === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsHeader === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsIndexTop">
                        <option value="1"<% if (setting.desktopBannerRowsIndexTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsIndexTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsIndexTop === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsIndexTop === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsIndexTop === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsIndexBottom">
                        <option value="1"<% if (setting.desktopBannerRowsIndexBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsIndexBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsIndexBottom === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsIndexBottom === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsIndexBottom === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsSideTop">
                        <option value="1"<% if (setting.desktopBannerRowsSideTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsSideTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsSideTop === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsSideBottom">
                        <option value="1"<% if (setting.desktopBannerRowsSideBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsSideBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsSideBottom === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsArticleTop">
                        <option value="1"<% if (setting.desktopBannerRowsArticleTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsArticleTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsArticleTop === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsArticleTop === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsArticleTop === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsArticleBottom">
                        <option value="1"<% if (setting.desktopBannerRowsArticleBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsArticleBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsArticleBottom === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsArticleBottom === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsArticleBottom === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td>
                      <select name="desktopBannerRowsCustom">
                        <option value="1"<% if (setting.desktopBannerRowsCustom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.desktopBannerRowsCustom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.desktopBannerRowsCustom === 3) { %> selected<% } %>>3단</option>
                        <option value="4"<% if (setting.desktopBannerRowsCustom === 4) { %> selected<% } %>>4단</option>
                        <option value="5"<% if (setting.desktopBannerRowsCustom === 5) { %> selected<% } %>>5단</option>
                      </select>
                    </td>
                    <td rowspan="4"><input type="checkbox" name="bannerBorderRounding" value="1"<% if (setting.bannerBorderRounding) { %> checked<% } %>></td>
                    <td rowspan="4"><input type="text" name="bannerGapDesktop" value="<%= setting.bannerGapDesktop %>"></td>
                    <td rowspan="4"><input type="text" name="bannerGapMobile" value="<%= setting.bannerGapMobile %>"></td>
                    <td rowspan="4"><button>등록</button></td>
                  </tr>
                  <tr>
                    <th colspan="8">모바일</th>
                  </tr>
                  <tr>
                    <th>헤더</th>
                    <th>첫페이지 상단</th>
                    <th>첫페이지 하단</th>
                    <th>사이드 상단</th>
                    <th>사이드 하단</th>
                    <th>본문 상단</th>
                    <th>본문 하단</th>
                    <th>커스텀</th>
                  </tr>
                  <tr>
                    <td>
                      <select name="mobileBannerRowsHeader">
                        <option value="1"<% if (setting.mobileBannerRowsHeader === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsHeader === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsHeader === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsIndexTop">
                        <option value="1"<% if (setting.mobileBannerRowsIndexTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsIndexTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsIndexTop === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsIndexBottom">
                        <option value="1"<% if (setting.mobileBannerRowsIndexBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsIndexBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsIndexBottom === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsSideTop">
                        <option value="1"<% if (setting.mobileBannerRowsSideTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsSideTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsSideTop === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsSideBottom">
                        <option value="1"<% if (setting.mobileBannerRowsSideBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsSideBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsSideBottom === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsArticleTop">
                        <option value="1"<% if (setting.mobileBannerRowsArticleTop === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsArticleTop === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsArticleTop === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsArticleBottom">
                        <option value="1"<% if (setting.mobileBannerRowsArticleBottom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsArticleBottom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsArticleBottom === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                    <td>
                      <select name="mobileBannerRowsCustom">
                        <option value="1"<% if (setting.mobileBannerRowsCustom === 1) { %> selected<% } %>>1단</option>
                        <option value="2"<% if (setting.mobileBannerRowsCustom === 2) { %> selected<% } %>>2단</option>
                        <option value="3"<% if (setting.mobileBannerRowsCustom === 3) { %> selected<% } %>>3단</option>
                      </select>
                    </td>
                  </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>게시판</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th colspan="3">게시물 읽기</th>
                    <th rowspan="2">글쓰기 텀 (초)</th>
                    <th rowspan="2">설정</th>
                  </tr>
                  <tr>
                    <th>이전글, 다음글</th>
                    <th>전체글</th>
                    <th>작성자의 다른 게시글</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/board" method="POST">
                    <tr>
                      <td><input type="checkbox" name="boardPrevNextArticle" value="1"<% if (setting.boardPrevNextArticle) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="boardAllArticle" value="1"<% if (setting.boardAllArticle) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="boardAuthorArticle" value="1"<% if (setting.boardAuthorArticle) { %> checked<% } %>></td>
                      <td><input type="text" name="writingTerm" value="<%= setting.writingTerm %>" placeholder="글쓰기 텀"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>SEO</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th colspan="3">사용자 정의 태그</th>
                    <th rowspan="2">키워드</th>
                    <th rowspan="2">설정</th>
                  </tr>
                  <tr>
                    <th>HEAD</th>
                    <th>BODY 상단</th>
                    <th>BODY 하단</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/seo" method="POST">
                    <tr>
                      <td><textarea name="customHeadTags" placeholder="HEAD"><%= setting.customHeadTags %></textarea></td>
                      <td><textarea name="customHeaderTags" placeholder="BODY 상단"><%= setting.customHeaderTags %></textarea></td>
                      <td><textarea name="customFooterTags" placeholder="BODY 하단"><%= setting.customFooterTags %></textarea></td>
                      <td><input type="text" name="metaTagKeyword" placeholder="예) 키워드1, 키워드2, 키워드3" value="<%= setting.metaTagKeyword %>"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>에드센스</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>ads.txt</th>
                    <th>사이드</th>
                    <th>상단</th>
                    <th>하단</th>
                    <th>커스텀</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/adsense" method="POST">
                    <tr>
                      <td><textarea name="adsenseAds"><%= setting.adsenseAds %></textarea></td>
                      <td><textarea name="adsenseSide"><%= setting.adsenseSide %></textarea></td>
                      <td><textarea name="adsenseTop"><%= setting.adsenseTop %></textarea></td>
                      <td><textarea name="adsenseBottom"><%= setting.adsenseBottom %></textarea></td>
                      <td><textarea name="adsenseCustom"><%= setting.adsenseCustom %></textarea></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>금지어 필터링</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <th>금지어</th>
                  <th>설정</th>
                </thead>
                <tbody>
                  <form action="/admin/setting/blockWords" method="POST">
                    <td><textarea name="blockWords" style="height: 100px;" placeholder="키워드1, 키워드2, 키워드3"><%= setting.blockWords %></textarea></td>
                    <td><button>등록</button></td>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>추가 회원가입폼</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <th>휴대폰</th>
                  <th>성명</th>
                  <th>설정</th>
                </thead>
                <tbody>
                  <form action="/admin/setting/joinForm" method="POST">
                    <td><input type="checkbox" name="useJoinPhone" value="1" <% if (setting.useJoinPhone) { %> checked<% } %>></td>
                    <td><input type="checkbox" name="useJoinRealName" value="1" <% if (setting.useJoinRealName) { %> checked<% } %>></td>
                    <td><button>등록</button></td>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
          <section>
            <h2>SNS 로그인</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th colspan="4">애플</th>
                    <th colspan="2">구글</th>
                    <th colspan="2">페이스북</th>
                    <th colspan="2">트위터</th>
                    <th colspan="2">네이버</th>
                    <th colspan="2">카카오톡</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/social" method="POST">
                    <tr>
                      <td colspan="4"><input type="checkbox" name="useSocialApple" value="1"<% if (setting.useSocialApple) { %> checked<% } %>></td>
                      <td colspan="2"><input type="checkbox" name="useSocialGoogle" value="1"<% if (setting.useSocialGoogle) { %> checked<% } %>></td>
                      <td colspan="2"><input type="checkbox" name="useSocialFacebook" value="1"<% if (setting.useSocialFacebook) { %> checked<% } %>></td>
                      <td colspan="2"><input type="checkbox" name="useSocialTwitter" value="1"<% if (setting.useSocialTwitter) { %> checked<% } %>></td>
                      <td colspan="2"><input type="checkbox" name="useSocialNaver" value="1"<% if (setting.useSocialNaver) { %> checked<% } %>></td>
                      <td colspan="2"><input type="checkbox" name="useSocialKakao" value="1"<% if (setting.useSocialKakao) { %> checked<% } %>></td>
                      <td rowspan="5"><button>등록</button></td>
                    </tr>
                    <tr>
                      <th>Service ID</th>
                      <th>Team ID</th>
                      <th>Key ID</th>
                      <th>Auth Key</th>
                      <th>Client ID</th>
                      <th>Client Secret</th>
                      <th>App ID</th>
                      <th>App Secret</th>
                      <th>API Key</th>
                      <th>API Secret</th>
                      <th>Client ID</th>
                      <th>Client Secret</th>
                      <th>Client ID</th>
                      <th>Client Secret</th>
                    </tr>
                    <tr>
                      <td><input type="text" name="socialAppleServiceId" value="<%= setting.socialAppleServiceId %>" placeholder="Bundle ID"></td>
                      <td><input type="text" name="socialAppleTeamId" value="<%= setting.socialAppleTeamId %>" placeholder="Team ID"></td>
                      <td><input type="text" name="socialAppleKeyId" value="<%= setting.socialAppleKeyId %>" placeholder="Key ID"></td>
                      <td><textarea name="socialAppleAuthKey" placeholder="Auth Key"><%= setting.socialAppleAuthKey %></textarea></td>
                      <td><input type="text" name="socialGoogleClientId" value="<%= setting.socialGoogleClientId %>" placeholder="Client ID"></td>
                      <td><input type="text" name="socialGoogleClientSecret" value="<%= setting.socialGoogleClientSecret %>" placeholder="Client Secret"></td>
                      <td><input type="text" name="socialFacebookAppId" value="<%= setting.socialFacebookAppId %>" placeholder="App ID"></td>
                      <td><input type="text" name="socialFacebookAppSecret" value="<%= setting.socialFacebookAppSecret %>" placeholder="App Secret"></td>
                      <td><input type="text" name="socialTwitterApiKey" value="<%= setting.socialTwitterApiKey %>" placeholder="API Key"></td>
                      <td><input type="text" name="socialTwitterApiSecret" value="<%= setting.socialTwitterApiSecret %>" placeholder="API Secret"></td>
                      <td><input type="text" name="socialNaverClientId" value="<%= setting.socialNaverClientId %>" placeholder="Client ID"></td>
                      <td><input type="text" name="socialNaverClientSecret" value="<%= setting.socialNaverClientSecret %>" placeholder="Client Secret"></td>
                      <td><input type="text" name="socialKakaoClientId" value="<%= setting.socialKakaoClientId %>" placeholder="Client ID"></td>
                      <td><input type="text" name="socialKakaoClientSecret" value="<%= setting.socialKakaoClientSecret %>" placeholder="Client Secret"></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>SMS 설정 (NHN Cloud Platform) <a href="https://www.ncloud.com/product/applicationService/sens" target="_blank">바로가기</a></h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>발신번호</th>
                    <th>Service ID</th>
                    <th>Service Secret Key</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/sms" method="POST">
                    <tr>
                      <td><input type="text" name="smsCallerId" value="<%= setting.smsCallerId %>" placeholder="발신번호"></td>
                      <td><input type="text" name="smsServiceId" value="<%= setting.smsServiceId %>" placeholder="Service ID"></td>
                      <td><input type="text" name="smsServiceSecretKey" value="<%= setting.smsServiceSecretKey %>" placeholder="Service Secret Key"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>API</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th colspan="2">텔레그램</th>
                    <th colspan="2">네이버 클라우드 플랫폼</th>
                    <th>구글 클라우드 플랫폼</th>
                    <th rowspan="2">설정</th>
                  </tr>
                  <tr>
                    <th>토큰</th>
                    <th>챗 ID</th>
                    <th>Access Key ID</th>
                    <th>Secret Key</th>
                    <th>API Key</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/api" method="POST">
                    <tr>
                      <td><input type="text" name="telegramToken" value="<%= setting.telegramToken %>" placeholder="토큰"></td>
                      <td><input type="text" name="telegramChatId" value="<%= setting.telegramChatId %>" placeholder="챗 ID"></td>
                      <td><input type="text" name="naverCloudPlatformAccessKeyId" value="<%= setting.naverCloudPlatformAccessKeyId %>" placeholder="Access Key ID"></td>
                      <td><input type="text" name="naverCloudPlatformSecretKey" value="<%= setting.naverCloudPlatformSecretKey %>" placeholder="Secret Key"></td>
                      <td><input type="text" name="googleCloudPlatformApiKey" value="<%= setting.googleCloudPlatformApiKey %>" placeholder="API Key"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>기타 설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>약관 동의</th>
                    <th>이메일 인증</th>
                    <th>SMS 인증</th>
                    <th>게시글 조회수</th>
                    <th>방문자 카운터</th>
                    <th>메시지</th>
                    <th>채팅창</th>
                    <th>SMS</th>
                    <th>등급이미지</th>
                    <th>회원탈퇴</th>
                    <th>작업회원</th>
                    <th>포인트 출금신청</th>
                    <th>포인트 출금신청 한도</th>
                    <th>초대 포인트</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/setting/etc" method="POST">
                    <tr>
                      <td><input type="checkbox" name="useTermsAndPrivacy" value="1"<% if (setting.useTermsAndPrivacy) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useEmailAuthentication" value="1"<% if (setting.useEmailAuthentication) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useSmsAuthentication" value="1"<% if (setting.useSmsAuthentication) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useArticleViewCount" value="1"<% if (setting.useArticleViewCount) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useVisitCount" value="1"<% if (setting.useVisitCount) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useMessage" value="1"<% if (setting.useMessage) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useChat" value="1"<% if (setting.useChat) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useSms" value="1"<% if (setting.useSms) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="usePermissionImage" value="1"<% if (setting.usePermissionImage) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useWithdraw" value="1"<% if (setting.useWithdraw) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useWorkingUser" value="1"<% if (setting.useWorkingUser) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="usePointWithdraw" value="1"<% if (setting.usePointWithdraw) { %> checked<% } %>></td>
                      <td><input type="text" name="pointWithdrawLimit" value="<%= setting.pointWithdrawLimit %>" placeholder="포인트 출금신청 한도"></td>
                      <td><input type="text" name="invitePoint" value="<%= setting.invitePoint %>" placeholder="초대 포인트"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>