<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>회원 목록 <%= userCount %></h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>회원그룹</th>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>연락처</th>
                    <th>성별</th>
                    <th>출생년도</th>
                    <th>생일</th>
                    <th>권한</th>
                    <!--<th>포인트</th>
                    <th>포인트 지급/차감</th>-->
                    <th>작업회원</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(user => { %>
                    <form action="/admin/user/edit/<%= user.id %>" method="POST">
                      <tr>
                        <td><%= user.id %></td>
                        <td>
                          <select name="userGroup">
                            <option value="0">선택안함</option>
                            <% userGroups.forEach(userGroup => { %>
                            <option value="<%= userGroup.id %>"<% if (user.user_userGroup_ID === userGroup.id) { %> selected<% } %>><%= userGroup.title %></option>
                            <% }) %>
                          </select>
                        </td>
                        <td><input type="text" name="uId" value="<%= user.uId %>" placeholder="아이디"></td>
                        <td><input type="password" name="password" placeholder="비밀번호 변경"></td>
                        <td><input type="text" name="nickName" value="<%= user.nickName %>" placeholder="닉네임"></td>
                        <td><input type="text" name="email" value="<%= user.email %>" placeholder="이메일"></td>
                        <td><input type="text" name="phone" value="<%= user.phone %>" placeholder="연락처"></td>
                        <td><input type="text" name="gender" value="<%= user.gender %>" placeholder="성별"></td>
                        <td><input type="text" name="birthyear" value="<%= user.birthyear %>" placeholder="출생년도"></td>
                        <td><input type="text" name="birthday" value="<%= user.birthday %>" placeholder="생일"></td>
                        <td>
                          
                          <select name="permission">
                            <option value="0"<% if (user.permission === 0) { %> selected<% } %>>차단</option>
                            <% locals.permissions.forEach(permission => { %>
                              <option value="<%= permission.permission %>"<% if (user.permission === permission.permission) { %> selected<% } %>><%= permission.title %></option>
                            <% }) %>
                          </select>
                        </td>
                        <!--
                        <td><%= user.point.toLocaleString() %></td>
                        <td>
                          <div class="row">
                            <select name="pointMethod">
                              <option value="create">+</option>
                              <option value="remove">-</option>
                            </select>
                            <input type="text" name="point" placeholder="포인트">
                          </div>
                        </td>
                      -->
                        <td><input type="checkbox" name="workingUser" value="1"<% if (user.workingUser) { %> checked<% } %>></td>
                        <td><button name="submit" value="edit">수정</button></td>
                        <td><button name="submit" value="delete">삭제</button></td>
                      </tr>
                    </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <%- include('../pagination') %>
          <div class="search">
            <form action="/admin/user" method="GET">
              <select name="searchType">
                <option value="uId">아이디</option>
                <option value="nickName">닉네임</option>
                <option value="email">이메일</option>
                <option value="phone">연락처</option>
              </select>
              <input type="text" name="keyword">
              <button>검색</button>
            </form>
          </div>
          <section>
            <h2>새로 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>전화번호</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>출생년도</th>
                    <th>생일</th>
                    <th>권한</th>
                    <th>작업회원</th>
                    <th>등록</th>
                    <th>랜덤회원 생성</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/user/new" method="POST">
                    <tr>
                      <td><input type="text" name="uId" placeholder="아이디"></td>
                      <td><input type="password" name="password" placeholder="비밀번호"></td>
                      <td><input type="text" name="nickName" placeholder="닉네임"></td>
                      <td><input type="text" name="email" placeholder="이메일"></td>
                      <td><input type="text" name="phone" placeholder="전화번호"></td>
                      <td><input type="text" name="realName" placeholder="이름"></td>
                      <td><input type="text" name="gender" placeholder="성별"></td>
                      <td><input type="text" name="birthyear" placeholder="출생년도"></td>
                      <td><input type="text" name="birthday" placeholder="생일"></td>
                      <td>
                        <select name="permission">
                          <option value="0">차단</option>
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      </td>
                      <td><input type="checkbox" name="workingUser" value="1"></td>
                      <td><button name="submit" value="new">등록</button></td>
                      <td><button name="submit" value="random">생성</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>