<% if (articles.length) { %>
<section id="bookmarkList" class="<%= board.type %>">
  <% articles.forEach(article => { %>
    <div class="item">
      <% if (article.images.length) { %>
      <a href="/<%= board.slug %>/<%= article.id %>" class="image"><img src="<%= locals.s3Host %>/article/<%= article.images[0].key %>" alt="<%= article.title %>"></a>
      <% } %>
      <div class="info">
        <div class="title"><%= article.title %></div>
        <div class="code">가입코드 : <%= article.customField02 %></div>
      </div>
      <div class="buttons">
        <a href="/<%= board.slug %>/<%= article.id %>" class="detail">상세보기</a>
        <a href="<%= article.customField01 %>" target="_blank" class="join">가입하기</a>
      </div>
    </div>
  <% }) %>
</section>
<% } %>