<% const setting = locals.setting %>
<% const mainLayout = setting.mainLayout %>
<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <style>
      :root {
        --banner-gap: <%= setting.bannerGapDesktop %>px;
        --banner-mobile-gap: <%= setting.bannerGapMobile %>px;
      }
    
      body {
        color: <%= setting.bodyFontColor %>;
        background-color: <%= setting.bodyBackgroundColor %>;
      }
    </style>
    <!-- Meta Start -->
    <% if (type === 'list') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= board.title %> - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= board.slug %>">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= board.slug %>">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
    <% } else if (type === 'all') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= pageTitle %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/all">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'best') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="인기게시물 - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/best">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'bestDay') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="일간 인기게시글 - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/best/day">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'bestWeek') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="주간 인기게시글 - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/best/week">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'bestMonth') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="월간 인기게시글 - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/best/month">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'search') { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= keyword %> - 검색결과 - <%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/<%= setting.faviconImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= setting.siteDomain %>/search">
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'myArticle') { %>
      <link rel="stylesheet" href="/stylesheets/board/commons.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'read') { %>
      <meta name="description" content="<%= article.ogContent %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= article.title %> - <%= setting.siteName %>">
      <meta property="og:description" content="<%= article.ogContent %>">
      <% if (article.ogImage) { %>
      <meta property="og:image" content="<%= article.ogImage %>">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
      <meta property="og:url" content="<%= article.url %>">
      <link rel="canonical" href="<%= article.url %>">
    <% } else { %>
      <meta name="description" content="<%= setting.siteDescription %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= setting.siteName %>">
      <meta property="og:description" content="<%= setting.siteDescription %>">
      <% if (setting.faviconImage) { %>
      <meta property="og:image" content="<%= s3Host %>/assets/kakao_link_image.png">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <% } %>
    <% } %>
    <!-- Meta End -->
    <!-- Meta Keyword Start -->
    <% if (type === 'read') { %>
      <% if (article.tags) { %>
        <meta name="keywords" content="<%= article.tags %>">
      <% } else { %>
        <meta name="keywords" content="<%= setting.metaTagKeyword %>">
      <% } %>
    <% } else { %>
      <% if (setting.metaTagKeyword) { %>
        <meta name="keywords" content="<%= setting.metaTagKeyword %>">
      <% } %>
    <% } %>
    <!-- Meta Keyword End -->
    <link rel="stylesheet" href="/stylesheets/aside.css">
    <% if (type === 'index') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>">
      <link rel="canonical" href="<%= setting.siteDomain %>">
      <link rel="stylesheet" href="/stylesheets/indexLayout/<%= setting.indexLayout %>.css">
    <% } else if (type === 'menuAll') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= menu.id %>/all">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= menu.id %>/all">
      <link rel="stylesheet" href="/stylesheets/indexLayout/<%= setting.indexLayout %>.css">
    <% } else if (type === 'list') { %>
      <link rel="stylesheet" href="/stylesheets/board/list.css">
    <% } else if (type === 'read') { %>
      <script src="/javascripts/read.js" defer></script>
      <link rel="stylesheet" href="/stylesheets/board/read.css">
      <link rel="stylesheet" href="/stylesheets/board/comments.css">
      <link rel="stylesheet" href="/stylesheets/board/list.css">
      <% if (setting.editor === 'engine') { %>
      <link rel="stylesheet" href="/stylesheets/board/content.css">
      <% } else if (setting.editor === 'ckeditor') { %>
      <link rel="stylesheet" href="/stylesheets/board/contentClassic.css">
      <% } %>
      <style>
        .content a {
          color: <%= setting.pointColor %>;
        }
      </style>
    <% } else if (type === 'new') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= board.slug %>/new">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= board.slug %>/new">
      <link rel="stylesheet" href="/stylesheets/board/editor.css">
    <% } else if (type === 'newClassic') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= board.slug %>/new">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= board.slug %>/new">
      <link rel="stylesheet" href="/stylesheets/board/contentClassic.css">
      <link rel="stylesheet" href="/stylesheets/board/editorClassic.css">
      <%- include('./editorHeader') %>
    <% } else if (type === 'edit') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= board.slug %>/edit">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= board.slug %>/edit">
      <link rel="stylesheet" href="/stylesheets/board/editor.css">
    <% } else if (type === 'editClassic') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= board.slug %>/edit">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= board.slug %>/edit">
      <link rel="stylesheet" href="/stylesheets/board/contentClassic.css">
      <link rel="stylesheet" href="/stylesheets/board/editorClassic.css">
      <%- include('./editorHeader') %>
    <% } else if (type === 'page') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= page.slug %>">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= page.slug %>">
      <link rel="stylesheet" href="/stylesheets/page.css">
      <link rel="stylesheet" href="/stylesheets/board/content.css">
      <style>
        .content a {
          color: <%= setting.pointColor %>;
        }
      </style>
    <% } else if (type === 'login') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/login">
      <link rel="canonical" href="<%= setting.siteDomain %>/login">
      <link rel="stylesheet" href="/stylesheets/loginAndJoin.css">
    <% } else if (type === 'join') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/join">
      <link rel="canonical" href="<%= setting.siteDomain %>/join">
      <link rel="stylesheet" href="/stylesheets/loginAndJoin.css">
      <script src="/javascripts/loginAndJoin.js" defer></script>
    <% } else if (type === 'mypage') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/mypage">
      <link rel="canonical" href="<%= setting.siteDomain %>/mypage">
      <link rel="stylesheet" href="/stylesheets/user.css">
    <% } else if (type === 'alarm') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/alarm">
      <link rel="canonical" href="<%= setting.siteDomain %>/alarm">
      <link rel="stylesheet" href="/stylesheets/user/message.css">
    <% } else if (type === 'message' || type === 'messageNew') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/messageNew">
      <link rel="canonical" href="<%= setting.siteDomain %>/messageNew">
      <link rel="stylesheet" href="/stylesheets/user/message.css">
    <% } else if (type === 'pointWithdraw') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/mypage/pointWithdraw">
      <link rel="canonical" href="<%= setting.siteDomain %>/mypage/pointWithdraw">
      <link rel="stylesheet" href="/stylesheets/user.css">
    <% } else if (type === 'emailAuthentication' || type === 'smsAuthentication' || type === 'findInfo' || type === 'findId' || type === 'findId-email' || type === 'findId-sms' || type === 'findId-sms-verify' || type === 'findId-sms-complete' || type === 'findPassword' || type === 'findPassword-email' || type === 'findPassword-sms' || type === 'findPassword-sms-verify' || type === 'newPassword') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/<%= url %>">
      <link rel="canonical" href="<%= setting.siteDomain %>/<%= url %>">
      <link rel="stylesheet" href="/stylesheets/authentication.css">
    <% } else if (type === 'check') { %>
      <meta property="og:url" content="<%= setting.siteDomain %>/check">
      <link rel="canonical" href="<%= setting.siteDomain %>/check">
      <link rel="stylesheet" href="/stylesheets/check.css">
    <% } else if (type === 'permission') { %>
      <link rel="stylesheet" href="/stylesheets/permission.css">
    <% } %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js" defer></script>
    <%- setting.customHeadTags %>
  </head>
  <body>
    <%- setting.customHeaderTags %>
    <%- include('./commons') %>
    <%- include('./flash') %>
    <% if (setting.useWorkingUser && locals.user?.workingUser || setting.useWorkingUser && locals.user?.isAdmin) { %>
    <div class="changeUser">
      <div><a href="/changeUser"><%= locals.user.nickName %></a></div>
      <form action="/changeUser" method="POST">
        <div><input type="text" name="keyword"></div>
        <div><button></button></div>
        <div class="userInfo"></div>
      </form>
    </div>
    <% } %>
    <%- include('./header') %>
    <main>
      <% if (type === 'index' && mainLayout === 'nowrap') { %><%- include('./index') %><% } %>
      <% if (type === 'page' && mainLayout === 'nowrap') { %><%- include('./page') %><% } %>
      <div class="wrap">
        <div class="fixedBannerContainer leftWing">
          <div class="" id="fixedBanner">
          <% if (locals.banners.filter(b => b.position === 'leftWing' && b.status === 1).length) { %>
            <%- include('./banner', { position: 'leftWing' }); %>
          <% } %>
          </div>
        </div>
        <% if (mainLayout === 'basic') { %>
          <%- include('./aside', { mobile: false }) %>
        <% } %>
        <% if (type === 'index' && mainLayout === 'basic' || type === 'index' && mainLayout === 'reverse') { %>
          <%- include('./index') %>
        <% } %>
        <% if (type === 'page' && mainLayout === 'basic' || type === 'page' && mainLayout === 'reverse') { %>
          <%- include('./page') %>
        <% } %>
        <% if (type === 'menuAll') { %>
          <%- include('./menuAll') %>
        <% } else if (type === 'all') { %>
          <%- include('./board/all') %>
        <% } else if (type === 'best' || type === 'bestDay' || type === 'bestWeek' || type === 'bestMonth') { %>
          <%- include('./board/best') %>
        <% } else if (type === 'search') { %>
          <%- include('./board/search') %>
        <% } else if (type === 'list') { %>
          <%- include('./board/list') %>
        <% } else if (type === 'myArticle') { %>
          <%- include('./user/article') %>
        <% } else if (type === 'read') { %>
          <%- include('./board/read') %>
        <% } else if (type === 'new') { %>
          <%- include('./board/new') %>
        <% } else if (type === 'newClassic') { %>
          <%- include('./board/newClassic') %>
        <% } else if (type === 'edit') { %>
          <%- include('./board/edit') %>
        <% } else if (type === 'editClassic') { %>
          <%- include('./board/editClassic') %>
        <% } else if (type === 'login') { %>
          <%- include('./login') %>
        <% } else if (type === 'join') { %>
          <%- include('./join') %>
        <% } else if (type === 'mypage') { %>
          <%- include('./user/mypage') %>
        <% } else if (type === 'alarm') { %>
          <%- include('./user/alarm') %>
        <% } else if (type === 'message') { %>
          <%- include('./user/message') %>
        <% } else if (type === 'messageNew') { %>
          <%- include('./user/messageNew') %>
        <% } else if (type === 'pointWithdraw') { %>
          <%- include('./user/pointWithdraw') %>
        <% } else if (type === 'findInfo') { %>
          <%- include('./findInfo') %>
        <% } else if (type === 'findId') { %>
          <%- include('./findId') %>
        <% } else if (type === 'findId-email') { %>
          <%- include('./findId-email') %>
        <% } else if (type === 'findId-sms') { %>
          <%- include('./findId-sms') %>
        <% } else if (type === 'findId-sms-verify') { %>
          <%- include('./findId-sms-verify') %>
        <% } else if (type === 'findId-sms-complete') { %>
          <%- include('./findId-sms-complete') %>
        <% } else if (type === 'findPassword') { %>
          <%- include('./findPassword') %>
        <% } else if (type === 'findPassword-email') { %>
          <%- include('./findPassword-email') %>
        <% } else if (type === 'findPassword-sms') { %>
          <%- include('./findPassword-sms') %>
        <% } else if (type === 'findPassword-sms-verify') { %>
          <%- include('./findPassword-sms-verify') %>
        <% } else if (type === 'newPassword') { %>
          <%- include('./newPassword') %>
        <% } else if (type === 'check') { %>
          <%- include('./check') %>
        <% } else if (type === 'permission') { %>
          <%- include('./permission') %>
        <% } else if (type === 'emailAuthentication') { %>
          <%- include('./emailAuthentication') %>
        <% } else if (type === 'smsAuthentication') { %>
          <%- include('./smsAuthentication') %>
        <% } else if (type === 'test') { %>
          <%- include('./test') %>
        <% } else if (type === '404') { %>
          <%- include('./404') %> 
        <% } %>
        <% if (mainLayout === 'reverse') { %>
          <%- include('./aside', { mobile: false }) %>
        <% } %>
        <div class="fixedBannerContainer rightWing">
          <div class="" id="fixedBanner">
          <% if (locals.banners.filter(b => b.position === 'rightWing' && b.status === 1).length) { %>
            <%- include('./banner', { position: 'rightWing' }); %>
          <% } %>
          </div>
        </div>
        <% if (type !== 'login' && type !== 'join' && type !== '404') { %>
          <%- include('./aside', { mobile: true }) %>
        <% } %>
      </div>
    </main>
    <%- include('./footer') %>
    <%- include('./scripts') %>
    <%- setting.customFooterTags %>
  </body>
</html>