<article>
  <% if (locals.setting.adsenseTop) { %>
  <div class="adsense">
    <%- locals.setting.adsenseTop %>
  </div>
  <% } %>
  <!-- <div class="titleBar">
    <div class="title">보증업체</div>
    <div class="content">사고발생시 먹튀라스트 보증금으로 책임져 드립니다.</div>
  </div> -->
  <div class="titleBar">
    <div class="title">업체 배너광고</div>
    <div class="content">사고발생시 <%= locals.setting.siteName %> 보증금으로 책임져 드립니다.</div>
  </div>
  <% if (locals.banners.filter(b => b.position === 'indexTop' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'indexTop' }); %>
  <% } %>
  <div class="titleBar">
    <div class="title">정보공간</div>
    <div class="content">공지사항 및 검증관련 내용을 정리해 드립니다.</div>
  </div>
  <div class="list" id="summary">
    <div class="gridContainer">
      <% if (boards) { %>
      <% const firstBoards = [boards[0], boards[1], boards[2], boards[3]] %>
      <% firstBoards.forEach(b => { %>
        <% if (b.id === 0) { %>
          <div class="gridItem">
            <div class="titleSpaceBetween">
              <h2><%= b.title %></a></h2>
            </div>
            <% b.articles.forEach(a => { %>
              <div class="contentSpaceBetween">
                <div class="title">
                  <% if (a.boardTitle) { %><span class="boardTitle" style="color: <%= a.boardColor %>;"><%= a.boardTitle %></span><% } %>
                  <a href="/<%= a.boardSlug %>/<%= a.id %>"><%= a.title %></a>
                  <% if (a.image) { %><span class="image"><img src="/assets/empty.png"></span><% } %>
                  <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
                </div>
                <div class="datetime"><%= a.datetime %></div>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="gridItem">
            <div class="titleSpaceBetween">
              <h2><a href="/<%= b.slug %>"><%= b.title %></a></h2>
              <div class="more"><a href="/<%= b.slug %>">더보기</a></div>
            </div>
            <% b.articles.forEach(a => { %>
              <div class="contentSpaceBetween">
                <div class="title">
                  <% if (a.category) { %><span class="category" style="color: <%= a.categoryColor %>;"><%= a.category %></span><% } %>
                  <a href="/<%= b.slug %>/<%= a.id %>"><%= a.title %></a>
                  <% if (a.image) { %><span class="image"><img src="/assets/empty.png"></span><% } %>
                  <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
                </div>
                <div class="datetime"><%= a.datetime %></div>
              </div>
            <% }) %>
          </div>
        <% } %>
      <% }) %>
      <% } %>
    </div>
  </div>
  <div class="titleBar">
    <div class="title">광고홍보</div>
    <div class="content">광고 및 홍보를 하실 수 있습니다.</div>
  </div>
  <div class="list" id="summary">
    <div class="gridContainer">
      <% if (boards) { %>
      <% const secondBoards = [boards[4], boards[5], boards[6], boards[7]] %>
      <% secondBoards.forEach(b => { %>
        <% if (b.id === 0) { %>
          <div class="gridItem">
            <div class="titleSpaceBetween">
              <h2><%= b.title %></a></h2>
            </div>
            <% b.articles.forEach(a => { %>
              <div class="contentSpaceBetween">
                <div class="title">
                  <% if (a.boardTitle) { %><span class="boardTitle" style="color: <%= a.boardColor %>;"><%= a.boardTitle %></span><% } %>
                  <a href="/<%= a.boardSlug %>/<%= a.id %>"><%= a.title %></a>
                  <% if (a.image) { %><span class="image"><img src="/assets/empty.png"></span><% } %>
                  <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
                </div>
                <div class="datetime"><%= a.datetime %></div>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="gridItem">
            <div class="titleSpaceBetween">
              <h2><a href="/<%= b.slug %>"><%= b.title %></a></h2>
              <div class="more"><a href="/<%= b.slug %>">더보기</a></div>
            </div>
            <% b.articles.forEach(a => { %>
              <div class="contentSpaceBetween">
                <div class="title">
                  <% if (a.category) { %><span class="category" style="color: <%= a.categoryColor %>;"><%= a.category %></span><% } %>
                  <a href="/<%= b.slug %>/<%= a.id %>"><%= a.title %></a>
                  <% if (a.image) { %><span class="image"><img src="/assets/empty.png"></span><% } %>
                  <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
                </div>
                <div class="datetime"><%= a.datetime %></div>
              </div>
            <% }) %>
          </div>
        <% } %>
      <% }) %>
      <% } %>
    </div>
  </div>
  <% if (locals.setting.adsenseBottom) { %>
  <div class="adsense">
    <%- locals.setting.adsenseBottom %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'indexBottom' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'indexBottom' }); %>
  <% } %>
</article>