<style>
  article .userImage {
    <% if (locals.user.image) { %>
    background-image: url('<%= s3Host %>/userImage/<%= locals.user.image %>');
    <% } else { %>
    background-image: url('/assets/userImage.svg');
    <% } %>
  }
  <% if (locals.setting.theme === 'black') { %>
  #mypage input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
  .container{
    width: 500px;
    flex-direction: column;
    align-items:center;
  }

  article .imagecontainer{
    width: 100%;
    height: 100px;
    margin-bottom:20px;
    justify-content: center;
  }
  
  .imagecontainer .userImage{
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }

  button {
    width: 100%;
    height: 50px;
    font-size: 1em;
    color: #fff;
    background-color: rgb(66, 75, 87);
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button a{
    color : white;
    width: 100%;  
  }

  .newbuttons{
    width:400px;
    justify-content: center;
    padding: 0px;
    border: 0;  
  }
  .newbuttons > div{
    width: 100%;
    padding: 0px;
    border: 0;
    margin-bottom: 0px;
    justify-content: center;
  }

  
</style>
<article id="mypage">
  <div clsas="container">
    <h1>마이페이지</h1>
    <div class="imagecontainer">
      <div class="userImage">
        <label for="imageUpload"></label>
        <input type="file" name="userImage" id="imageUpload">
      </div>
    </div>
    <form action="/mypage" method="POST">
      <div class="permission">회원등급 : <%= user.permissionName %></div>
      <div class="nickName">
        <div><h3>닉네임 변경</h3></div>
        <div><input type="text" name="nickName" value="<%= user.nickName %>" placeholder="닉네임"></div>
      </div>
      <div class="password">
        <div><input type="password" name="oldPassword" placeholder="기존 비밀번호"></div>
        <div><input type="password" name="password" placeholder="비밀번호"></div>
        <div><input type="password" name="passwordCheck" placeholder="비밀번호 확인"></div>
      </div>
      <div><button>닉네임 변경</button></div>
      <div class="second"><a href="/mypage/article"><button type="button" class="qnaBtn">내가 쓴 게시글</button></a></div>
      <!--<div class="second"><a href="/qna"><button type="button" class="qnaBtn">1:1 문의</button></a></div>-
      <% if (locals.setting.useWithdraw) { %>
      <div class="second"><a href="/mypage/withdraw"><button type="button" id="withdraw">회원 탈퇴</button></a></div>
      <% } %>
      <% if (locals.setting.usePointWithdraw) { %>
      <div class="pointWithdraw"><a href="/mypage/pointWithdraw"><button type="button">포인트 출금신청</button></a></div>
      <% } %>-->
    </form>
    <% const globalAlarms = locals.alarms.filter(a => a.status === 1) %>
    <div class="newbuttons">
      <div>
        <% if (globalAlarms.length) { %> <% getAlarm } %>
        <button><a href="/alarm">
        <% newAlarms = locals.alarms.filter(a => a.status === 1) %>
          <% if (newAlarms.length) { %>
            <!--<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"></path></svg>-->
            새 알림 도착
          <% } else { %>
            <!--<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"></path></svg>-->
            알림 없음
          <% } %>
        </a></button>
      </div>
      <div class="second"><button type="button" class="qnaBtn">
        <a href="https://pf.kakao.com/_kixhxkb/chat"><img src="/assets/social/kakao.svg" onerror="this.style.display='none';" style="width:30px; height:30px; margin-right:10px; vertical-align: middle;"/>카카오톡 채널로 인증하기</button></a>
      </div>
    </div>
  </div>
</article>
<script>
  const nickNameInput = document.querySelector('input[name="nickName"]');
  const passwordInputContainer = document.querySelector('.password');

  nickNameInput.addEventListener('click', () => {
    passwordInputContainer.classList.add('active');
  });

  const userImage = document.querySelectorAll('.userImage');
  const imageUpload = document.querySelector('#imageUpload');
  imageUpload.addEventListener('change', async () => {
    const key = await setUserImage(imageUpload.files[0]);
    if (key) {
      userImage.forEach(i => {
        i.style.backgroundImage = `url('<%= s3Host %>/userImage/${key}')`;
      });
    }
  });

  const setUserImage = (userImage) => {
    return new Promise((resolve, reject) => {
      const data = new FormData();
      data.append('userImage', userImage);
      const xhr = new XMLHttpRequest();
      xhr.onload = () => {
        if (xhr.status === 200 || xhr.status === 201) {
          const result = JSON.parse(xhr.responseText);
          resolve(result.key);
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/api/userImage');
      xhr.send(data);
    });
  };
</script>
