<style>
  article .banner__box__articleTop {
    grid-template-columns: repeat(<%= locals.setting.bannerRowsArticleTop %>, 1fr);
  }

  article .banner__box__articleBottom {
    grid-template-columns: repeat(<%= locals.setting.bannerRowsArticleBottom %>, 1fr);
  }
</style>
<article id="list">
  <% if (locals.setting.adsenseTop) { %>
  <div class="adsense">
    <%- locals.setting.adsenseTop %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleTop').length) { %>
    <%- include('../../../banner', { position: 'articleTop' }); %>
  <% } %>
  <h1><%= boardName %></h1>
  <% if (categories) { %>
  <div class="categories">
    <% categories.forEach(c => { %>
      <div class="category"><a href="?category=<%= c.id %>" style="color: <%= c.color %>;<% if (c.color) { %>background-color: #fff;<% } %>"><%= c.title %></a></div>
    <% }) %>
  </div>
  <% } %>
  <% const notice = articles.filter(a => a.notice === 1); %>
  <% if (notice.length) { %>
  <div class="articleList noticeList">
    <% notice.forEach(a => { %>
      <a class="item" href="/<%= boardSlug %>/<%= a.id %>?page=<%= page %>">
        <div class="info">
          <div class="titleContainer">
            <span class="notice">공지</span>
            <span class="title"><%= a.title %></span>
            <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
          </div>
          <div class="etc">
            <span class="permissionImage"><img src="<%= a.permissionImage %>" style="width: 20px; height: 20px;"></span>
            <span class="nickName"><%= a.nickName %></span>
            <span class="dot"></span>
            <span class="permissionName"><%= a.permissionName %></span>
            <span class="dot"></span>
            <span class="datetime"><%= a.datetime %></span>
            <% if (locals.setting.useArticleViewCount) { %>
              <span class="dot"></span>
              <span class="viewCount"><img src="/assets/empty.png"><%= a.viewCount %></span>
            <% } %>
            <% if (a.likeCount) { %>
            <span class="dot"></span>
            <span class="likeCount"><img src="/assets/empty.png"><%= a.likeCount %></span>
            <% } %>
          </div>
        </div>
        <div class="image">
          <% if (a.image) { %>
            <img src="/assets/empty.png" alt="<%= a.image %>" style="background-image: url('<%= locals.s3Host %>/thumb/<%= a.image %>');">
            <% if (a.imageCount >= 2) { %>
              <div class="count"><%= a.imageCount %></div>
            <% } %>
          <% } else if (a.youtube) { %>
            <img src="/assets/empty.png" alt="<%= a.youtube %>" style="background-image: url('<%= a.youtube %>');">
          <% } %>
        </div>
      </a>
      <div class="line"></div>
    <% }) %>
  </div>
  <% } %>
  <% const nomalArticles = articles.filter(a => a.notice === 0); %>
  <% if (nomalArticles.length) { %>
  <div class="articleList">
    <% nomalArticles.forEach(a => { %>
      <a class="item" href="/<%= boardSlug %>/<%= a.id %>?page=<%= page %>">
        <div class="info">
          <div class="titleContainer">
            <% if (a.category) { %><span class="category"><%= a.category %></span><% } %>
            <span class="title"><%= a.title %></span>
            <% if (a.commentCount) { %><span class="commentCount"><img src="/assets/empty.png"><%= a.commentCount %></span><% } %>
          </div>
          <div class="etc">
            <span class="permissionImage"><img src="<%= a.permissionImage %>" style="width: 20px; height: 20px;"></span>
            <span class="nickName"><%= a.nickName %></span>
            <span class="dot"></span>
            <span class="permissionName"><%= a.permissionName %></span>
            <span class="dot"></span>
            <span class="datetime"><%= a.datetime %></span>
            <% if (locals.setting.useArticleViewCount) { %>
              <span class="dot"></span>
              <span class="viewCount"><img src="/assets/empty.png"><%= a.viewCount %></span>
            <% } %>
            <% if (a.likeCount) { %>
            <span class="dot"></span>
            <span class="likeCount"><img src="/assets/empty.png"><%= a.likeCount %></span>
            <% } %>
          </div>
        </div>
        <div class="image">
          <% if (a.image) { %>
            <img src="/assets/empty.png" alt="<%= a.image %>" style="background-image: url('<%= locals.s3Host %>/thumb/<%= a.image %>');">
            <% if (a.imageCount >= 2) { %>
              <div class="count"><%= a.imageCount %></div>
            <% } %>
          <% } else if (a.youtube) { %>
            <img src="/assets/empty.png" alt="<%= a.youtube %>" style="background-image: url('<%= a.youtube %>');">
          <% } %>
        </div>
      </a>
      <div class="line"></div>
    <% }) %>
  </div>
  <% } %>
  <%- include('../../../pagination') %>
  <div class="searchAndWrite">
    <div></div>
    <div>
      <form action="/<%= boardSlug %>">
        <div class="search">
          <select name="searchType">
            <option value="title">제목</option>
            <option value="titleAndContent">제목 + 내용</option>
            <option value="name">글쓴이</option>
          </select>
          <input type="text" name="keyword">
          <button>검색</button>
        </div>
      </form>
    </div>
    <div class="write">
      <% if (writePermission) { %>
        <a href="/<%= boardSlug %>/new">글쓰기</a>
      <% } %>
    </div>
  </div>
  <% if (locals.setting.adsenseBottom) { %>
  <div class="adsense">
    <%- locals.setting.adsenseBottom %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleBottom').length) { %>
    <%- include('../../../banner', { position: 'articleBottom' }); %>
  <% } %>
</article>
<style>
  .datetime {
    color: blue;
  }
</style>