<style>
  header nav {
    background-color: <%=locals.setting.headerBackgroundColor %>;
  }

  header nav>ul>li>a {
    color: <%=locals.setting.headerFontColor %>;
  }

  header nav>ul>li:hover>a,
  header nav>ul>li:active>a {
    color: <%=locals.setting.pointColor %>;
  }

  header .logo img {
    max-width: <%=locals.setting.logoImageSize %>px;
  }

  header .modalNav .siteNameContainer {
    background-color: <%=locals.setting.headerBackgroundColor %>;
  }

  header .modalNav .mypage {
    background-color: <%=locals.setting.headerBackgroundColor %>;
  }
</style>
<header>
  <div class="toggleBtn">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14"
      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path fill="currentColor"
        d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
      </path>
    </svg>
  </div>
  <!--<div class="searchBtn">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
  </div>-->
  <div class="wrap">
    <div class="top">
      <ul>
        <!-- <li><a class="favorite">즐겨찾기</a></li>
        <li class="slash">|</li>
        <li><a href="/all">새글</a></li>
        <li class="slash">|</li>
        <li><a id="datetime"></a></li> -->
      </ul>
      <ul>
        <% if (locals.user && locals.user.permission>= 10) { %>
          <li><a href="/admin">관리자</a></li>
          <li class="slash">|</li>
          <% } %>
            <% if (locals.user) { %>
              <li><a href="/mypage">마이페이지</a></li>
              <li class="slash">|</li>
              <li><a href="/logout">로그아웃</a></li>
              <li class="slash">|</li>
              <% } else { %>
                <!--<li><a href="/login">로그인</a></li>
                <li class="slash">|</li>
                <li><a href="/join">회원가입</a></li>
                <li class="slash">|</li>
                <li><a href="/findInfo">정보찾기</a></li>
                <li class="slash">|</li>-->
                <% } %>
                  <!--<li><a href="/faq">FAQ</a></li>
                  <li class="slash">|</li>
                  <li><a href="/qna">1:1문의</a></li>-->
                  <% if (locals.setting.useVisitCount) { %>
                    <li class="slash">|</li>
                    <li><a>접속자 <%= Number(locals.count.today).toLocaleString() %> (<span id="customCounter"
                            class="customCounter"></span>)</a></li>
                    <% } %>
      </ul>
    </div>
    <div class="middle">
      <div class="logo">
        <a href="/"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>"
            alt="<%= locals.setting.siteNameRaw %>"></a>
      </div>

      <!-- <div class="search">
        <form action="/search" method="GET">
          <input type="hidden" name="searchType" value="title">
          <input type="text" name="keyword" placeholder="검색어">
          <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg></button>
        </form>
      </div> -->
    </div>
    <nav>
      <ul>
        <li class="home">
          <a href="/"><img src="/assets/white/home-solid.svg"></a>
        </li>
        <% locals.menus.forEach(menu=> { %>
          <li>
            <a href="/<%= menu.target %>">
              <%= menu.title %>
            </a>
            <ul>
              <% if (menu.subMenus.length) { %>
                <% menu.subMenus.forEach(subMenu=> { %>
                  <li><a href="/<%= subMenu.target %>">
                      <%= subMenu.title %>
                    </a></li>
                  <% }) %>
                    <% } %>
            </ul>
          </li>
          <% }) %>
            <li class="modalBtn">
              <a><img src="/assets/white/bars-solid.svg"></a>
            </li>
      </ul>
    </nav>
    <div class="modalNav">
      <div class="siteNameContainer">
        <div class="siteName"><a href="/">
            <%= locals.setting.siteName %>
          </a></div>
        <div class="modalClose">
          <img src="/assets/white/times-solid.svg">
        </div>
      </div>
      <!--<ul class="option">
        <li class="menu">
          <a>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
              class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
              </path>
            </svg>
            <div>메뉴</div>
          </a>
        </li>
        <li>
          <a href="/">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sync-alt"
              class="svg-inline--fa fa-sync-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
              </path>
            </svg>
            <div>새글</div>
          </a>
        </li>
        <li>
          <a href="/qna">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="comments"
              class="svg-inline--fa fa-comments fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
              <path fill="currentColor"
                d="M532 386.2c27.5-27.1 44-61.1 44-98.2 0-80-76.5-146.1-176.2-157.9C368.3 72.5 294.3 32 208 32 93.1 32 0 103.6 0 192c0 37 16.5 71 44 98.2-15.3 30.7-37.3 54.5-37.7 54.9-6.3 6.7-8.1 16.5-4.4 25 3.6 8.5 12 14 21.2 14 53.5 0 96.7-20.2 125.2-38.8 9.2 2.1 18.7 3.7 28.4 4.9C208.1 407.6 281.8 448 368 448c20.8 0 40.8-2.4 59.8-6.8C456.3 459.7 499.4 480 553 480c9.2 0 17.5-5.5 21.2-14 3.6-8.5 1.9-18.3-4.4-25-.4-.3-22.5-24.1-37.8-54.8zm-392.8-92.3L122.1 305c-14.1 9.1-28.5 16.3-43.1 21.4 2.7-4.7 5.4-9.7 8-14.8l15.5-31.1L77.7 256C64.2 242.6 48 220.7 48 192c0-60.7 73.3-112 160-112s160 51.3 160 112-73.3 112-160 112c-16.5 0-33-1.9-49-5.6l-19.8-4.5zM498.3 352l-24.7 24.4 15.5 31.1c2.6 5.1 5.3 10.1 8 14.8-14.6-5.1-29-12.3-43.1-21.4l-17.1-11.1-19.9 4.6c-16 3.7-32.5 5.6-49 5.6-54 0-102.2-20.1-131.3-49.7C338 339.5 416 272.9 416 192c0-3.4-.4-6.7-.7-10C479.7 196.5 528 238.8 528 288c0 28.7-16.2 50.6-29.7 64z">
              </path>
            </svg>
            <div>1:1 문의</div>
          </a>
        </li>
        <li class="more">
          <a>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-v"
              class="svg-inline--fa fa-ellipsis-v fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 192 512">
              <path fill="currentColor"
                d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z">
              </path>
            </svg>
            <div>더보기</div>
          </a>
        </li>
        <li class="hide">
          <a href="/faq">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-circle"
              class="svg-inline--fa fa-exclamation-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
              </path>
            </svg>
            <div>FAQ</div>
          </a>
        </li>
   <li class="hide">
          <a href="/report">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye-slash"
              class="svg-inline--fa fa-eye-slash fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512">
              <path fill="currentColor"
                d="M634 471L36 3.51A16 16 0 0 0 13.51 6l-10 12.49A16 16 0 0 0 6 41l598 467.49a16 16 0 0 0 22.49-2.49l10-12.49A16 16 0 0 0 634 471zM296.79 146.47l134.79 105.38C429.36 191.91 380.48 144 320 144a112.26 112.26 0 0 0-23.21 2.47zm46.42 219.07L208.42 260.16C210.65 320.09 259.53 368 320 368a113 113 0 0 0 23.21-2.46zM320 112c98.65 0 189.09 55 237.93 144a285.53 285.53 0 0 1-44 60.2l37.74 29.5a333.7 333.7 0 0 0 52.9-75.11 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64c-36.7 0-71.71 7-104.63 18.81l46.41 36.29c18.94-4.3 38.34-7.1 58.22-7.1zm0 288c-98.65 0-189.08-55-237.93-144a285.47 285.47 0 0 1 44.05-60.19l-37.74-29.5a333.6 333.6 0 0 0-52.89 75.1 32.35 32.35 0 0 0 0 29.19C89.72 376.41 197.08 448 320 448c36.7 0 71.71-7.05 104.63-18.81l-46.41-36.28C359.28 397.2 339.89 400 320 400z">
              </path>
            </svg>
            <div>신고모음</div>
          </a>
        </li>
        
        <li class="close hide">
          <a>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
              class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 352 512">
              <path fill="currentColor"
                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
              </path>
            </svg>
            <div>닫기</div>
          </a>
        </li>
        
        <li>
          <a href="/search">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
            <div>검색</div>
          </a>
        </li>
        
        <li class="hide">
          <a href="/tags">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tags" class="svg-inline--fa fa-tags fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z"></path></svg>
            <div>태그모음</div>
          </a>
        </li> 
      


        
         <li class="hide">
          <a href="">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" class="svg-inline--fa fa-users fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"></path></svg>
            <div>접속자</div>
          </a>
        </li> 
      
      </ul>-->
            <% if (locals.user && locals.user.permission>= 1) { %>          
          <% }
          else { %>
            <a href="/login"><div class="LoginButton">로그인</div></a>
            <% } %>
            
      <ul class="mypage">
        <% if (locals.user && locals.user.permission>= 10) { %>
          <li><a href="/admin">관리자</a></li>
          <% } %>
            <% if (locals.user) { %>
              <li><a href="/mypage">마이페이지</a></li>
              <li><a href="/logout">로그아웃</a></li>
              <% } else { %>
                
                 <!--<li><a href="/login">로그인</a></li>
               
        <li><a href="/join">회원가입</a></li>
        <li><a href="/findInfo">정보찾기</a></li>-->
                <% } %>

      </ul>
      <div class="KakaoTalk_Vet_Auth_Nav">
        <% if (locals.user && locals.user.permission>= 1) { %>

          <a href="https://pf.kakao.com/_kixhxkb"><img src="FakeKaTalk.png" onerror="this.style.display='none';">카톡 채널로 인증하기</a>

          <% } %>
      </div>
      <div class="menuTitle">메뉴</div>
      <ul class="nav">
        <% locals.menus.forEach(menu=> { %>
          <li>
            <div class="title">
              <a href="/<%= menu.target %>">
                <%= menu.title %>
              </a>
              <% if (menu.subMenus.length) { %>
                <div class="subBtn">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
                    class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 192 512">
                    <path fill="currentColor"
                      d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
                    </path>
                  </svg>
                </div>
                <% } %>
            </div>
            <% if (menu.subMenus.length) { %>
              <ul>
                <% menu.subMenus.forEach(subMenu=> { %>
                  <li><a href="/<%= subMenu.target %>">
                      <%= subMenu.title %>
                    </a></li>
                  <% }) %>
              </ul>
              <% } %>
          </li>
          <% }) %>
      </ul>
      <!--
      <% if (locals.setting.useVisitCount) { %>
      <ul class="count">
        <li>
          <div>현재 접속자</div>
          <div><span id="customCounter" class="customCounter"></span> 명</div>
        </li>
        <li>
          <div>오늘 방문자</div>
          <div><%= Number(locals.count.today).toLocaleString() %> 명</div>
        </li>
        <li>
          <div>어제 방문자</div>
          <div><%= Number(locals.count.yesterday).toLocaleString() %> 명</div>
        </li>
        <li>
          <div>한달 방문자</div>
          <div><%= Number(locals.count.month).toLocaleString() %> 명</div>
        </li>
      </ul>
      <% } %>
    -->
    </div>
    <div class="headerModalBackground"></div>
  </div>
</header>
<script>
  // Btns
  const html = document.querySelector('html');
  const body = document.querySelector('body');
  const header = document.querySelector('header');
  const toggleBtn = document.querySelector('.toggleBtn');
  const searchBtn = document.querySelector('.searchBtn');
  const nav = document.querySelector('nav');
  const search = document.querySelector('.search');
  const modalNav = document.querySelector('header .modalNav');
  const headerModalBackground = document.querySelector('header .headerModalBackground');

  const topHeight = header.querySelector('.top').clientHeight;
  const middleHeight = header.querySelector('.middle').clientHeight;

  window.addEventListener('scroll', () => {
    if (window.pageYOffset > topHeight + middleHeight) {
      nav.className = 'active';
      header.style.marginBottom = '80px';
    } else {
      nav.className = '';
      header.style.marginBottom = '';
    }
  });

  if (toggleBtn) {
    toggleBtn.addEventListener('click', () => {
      modalNav.classList.toggle('active');
      modalBackground.classList.toggle('active');
      html.classList.toggle('active');
      body.classList.toggle('active');
    });
  }
  if (searchBtn) {
    searchBtn.addEventListener('click', () => {
      search.classList.toggle('active');
    });
  }

  if (headerModalBackground) {
    headerModalBackground.addEventListener('click', () => {
      modalNav.classList.toggle('active');
      headerModalBackground.classList.toggle('active');
      html.classList.toggle('active');
      body.classList.toggle('active');
    });
  }

  // Favorite
  // const favorite = document.querySelector('.favorite');
  // favorite.addEventListener('click', () => {
  //   bookmarkUrl = window.location.host;
  //   bookmarkName = '<%= locals.setting.siteNameRaw %>';
  //   try {
  //     window.external.AddFavorite(bookmarkUrl, bookmarkName);
  //   } catch (e) {
  //     alert((navigator.userAgent.toLowerCase().indexOf('mac') != -1 ? 'Cmd' : 'Ctrl') + '+D 키를 눌러 즐겨찾기에 등록하실 수 있습니다.');
  //   }
  // });

  // Datetime
  // const datetime = document.querySelector('#datetime');
  // const days = ['일', '월', '화', '수', '목', '금', '토'];
  // const today = new Date();
  // const month = today.getMonth() + 1;
  // const day = today.getDate();
  // const dayName = days[today.getDay()];
  // const datetimeContent = `${month}월 ${day}일 (${dayName})`;
  // datetime.innerHTML = datetimeContent;

  const modalBtn = document.querySelector('.modalBtn');
  if (modalBtn) {
    modalBtn.addEventListener('click', () => {
      modalNav.classList.toggle('active');
      modalBackground.classList.toggle('active');
      html.classList.toggle('active');
      body.classList.toggle('active');
    });
  }

  const modalCloseBtn = modalNav.querySelector('.modalClose');
  if (modalCloseBtn) {
    modalCloseBtn.addEventListener('click', () => {
      modalNav.classList.toggle('active');
      modalBackground.classList.toggle('active');
      html.classList.toggle('active');
      body.classList.toggle('active');
    });
  }

  const moreBtn = modalNav.querySelector('.option .more');
  const options = modalNav.querySelectorAll('.option li');
  const menuCloseBtn = modalNav.querySelector('.option .menu');
  const closeBtn = modalNav.querySelector('.option .close');
  if (moreBtn) {
    moreBtn.addEventListener('click', () => {
      options.forEach(o => {
        o.classList.toggle('active');
      });
    });
  }
  if (menuCloseBtn) {
    menuCloseBtn.addEventListener('click', () => {
      modalNav.classList.toggle('active');
      modalBackground.classList.toggle('active');
      html.classList.toggle('active');
      body.classList.toggle('active');
    });
  }
  if (closeBtn) {
    closeBtn.addEventListener('click', () => {
      options.forEach(o => {
        o.classList.toggle('active');
      });
    });
  }

  const modalMenus = document.querySelectorAll('header .nav li');
  modalMenus.forEach(menu => {
    const subBtn = menu.querySelector('.subBtn');
    const subMenus = menu.querySelector('ul');
    if (subBtn) {
      subBtn.addEventListener('click', () => {
        subMenus.classList.toggle('active');
      });
    }
  });
</script>
