<style>
  header {
    color: <%= locals.setting.headerFontColor %>;
    background-color: <%= locals.setting.headerBackgroundColor %>;
  }
  @media (min-width: 1281px) {
    header .logo img {
      max-width: <%= locals.setting.logoImageSize %>px;
    }

    header .navbarMenu > li > a {
      color: <%= locals.setting.headerFontColor %>;
    }
    header .navbarUser > li > a {
      color: <%= locals.setting.headerFontColor %>;
    }
  }
  <% if (locals.setting.theme === 'black') { %>
  @media (min-width: 1281px) {
    header .navbar .navbarMenu > li > .sub .liContainer {
      background-color: #1A1A1A;
    }
    header .navbar .navbarMenu > li > .sub .liContainer .line {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
  @media (max-width: 1280px) {
    header .navbarMenu li > a {
      color: #fff;
    }

    header .navbarMenu li > a:hover,
    header .navbarMenu li > a:active {
      color: <%= locals.setting.pointColor %>;
    }

    header .navbarMenu li .sub li a {
      color: #fff;
    }

    header .navbarMenu li .sub li a:hover,
    header .navbarMenu li .sub li a:active {
      color: <%= locals.setting.pointColor %>;
    }

    header .navbar {
      background-color: #000;
    }

    header .navbarUser li a {
      background-color: rgba(255, 255, 255, 0.1);
    }

    header .navbarUser li a:hover,
    header .navbarUser li a:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    header .navbarMenu > li > a {
      background-color: rgba(255, 255, 255, 0.1);
    }

    header .navbarMenu > li > a:hover,
    header .navbarMenu > li > a:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    header .navbarMenu li .sub li {
      background-color: rgba(255, 255, 255, 0.1);
    }

    header .navbarMenu li .sub li a:hover,
    header .navbarMenu li .sub li a:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  <% } %>
</style>
<header>
  <div class="wrap">
    <div class="logoWrap">
      <a class="toggleBtn">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
      </a>
      <a href="/alarm" class="alarmBtn">
        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"></path></svg>
        <% if (locals.alarms) { %>
          <% const globalAlarms = locals.alarms.filter(a => a.status === 1) %>
          <% if (globalAlarms.length) { %>
          <div class="count"><%= globalAlarms.length %></div>
          <% } %>
        <% } %>
      </a>
      <div class="logo">
        <% if (locals.setting.logoType === 'text') { %>
        <a href="/" style="color: <%= locals.setting.headerFontColor %>;"><%= locals.setting.siteNameRaw %></a>
        <% } else if (locals.setting.logoType === 'image') { %>
        <a href="/"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteNameRaw %>"></a>
        <% } %>
      </div>
    </div>
    <nav class="navbar">
      <ul class="navbarMenu">
        <% locals.menus.forEach(menu => { %>
          <li>
            <a href="/<%= menu.target %>" class="mainMenu" menuId="<%= menu.id %>"><%= menu.title %></a>
            <% if (menu.subMenus.length) { %>
            <ul class="sub">
              <div class="blank"></div>
              <div class="liContainer">
                <% menu.subMenus.forEach(subMenu => { %>
                <li><a href="/<%= subMenu.target %>"><%= subMenu.title %></a></li>
                <li class="line"></li>
                <% }) %>
              </div>
            </ul>
            <% } %>
          </li>
        <% }) %>
      </ul>
      <ul class="navbarUser">
      <% if (locals.user && locals.user.permission >= 10) { %>
        <li><a href="/admin">관리자</a></li>
      <% } %>
      <% if (locals.user) { %>
        <li><a href="/message">메시지</a></li>
        <li><a href="/mypage">마이페이지</a></li>
        <li><a href="/logout">로그아웃</a></li>
      <% } else { %>
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
      <% } %>
      </ul>
    </nav>
  </div>
</header>
<script>
  const navbar = document.querySelector('nav');
  const toggleBtn = document.querySelector('.toggleBtn');

  toggleBtn.addEventListener('click', () => {
    navbar.classList.toggle('active');
  });
</script>