<style>
  header .logo img {
    max-width: <%= locals.setting.logoImageSize %>px;
  }

  header nav > ul > li > a:hover::after {
    background-color: <%= locals.setting.pointColor %>;
  }

  main {
    margin-top: 100px;
  }
</style>
<header>
  <a href="#" class="toggleBtn"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z"/></svg></a>
  <div class="wrap">
    <div class="logo">
      <a href="/"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></a>
    </div>
    <nav>
      <ul>
        <% locals.menus.forEach(menu => { %>
          <li>
            <a href="/<%= menu.target %>"><%= menu.title %></a>
            <% if (menu.subMenus.length) { %>
            <ul>
              <% menu.subMenus.forEach(subMenu => { %>
              <li><a href="/<%= subMenu.target %>"><%= subMenu.title %></a></li>
              <% }) %>
            </ul>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </nav>
    <ul class="mypage">
      <% if (locals.user && locals.user.permission >= 10) { %>
      <li><a href="/admin">관리자</a></li>
      <li class="slash">|</li>
      <% } %>
      <% if (locals.user) { %>
      <li><a href="/mypage">마이페이지</a></li>
      <li class="slash">|</li>
      <li><a href="/logout">로그아웃</a></li>
      <% } else { %>
      <li><a href="/login">로그인</a></li>
      <li class="slash">|</li>
      <li><a href="/join">회원가입</a></li>
      <% } %>
    </ul>
  </div>
</header>
<script>
  const navbar = document.querySelector('nav');
  const mypage = document.querySelector('.mypage');
  const toggleBtn = document.querySelector('.toggleBtn');

  toggleBtn.addEventListener('click', () => {
    navbar.classList.toggle('active');
    mypage.classList.toggle('active');
  });
</script>