<article>
  <script>
    window.addEventListener("flutterInAppWebViewPlatformReady", function(event) {
      window.flutter_inappwebview.callHandler('UserInfo', '*** Message From Server JS ***').then(function(result) {
        //document.write(result.userId);
        const userId = result.userId;
        document.writeln("<form id='getid' action='/catch' method='GET'><input type='hidden' name='userId' value=userId></form>");
        document.getid.submit();
      });
    });
  </script>
  <% if (locals.setting.adsenseTop) { %>
  <div class="adsense">
    <%- locals.setting.adsenseTop %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'indexTop' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'indexTop' }); %>
  <% } %>
  <%- include('../indexBoard/indexBoardGroup', { position: 'index' }); %>
  <% if (locals.setting.adsenseBottom) { %>
  <div class="adsense">
    <%- locals.setting.adsenseBottom %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'indexBottom' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'indexBottom' }); %>
  <% } %>
</article>