<footer>
  <div class="wrap">
    <div class="logo"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></div>
    <div class="info">
      <div class="guide"><a href="/privacy">개인정보 취급방침</a> | <a href="/locationTerms">위치정보사업 이용약관</a> | <a href="/terms"><%= locals.setting.siteNameRaw %> 이용약관</a></div>
      <div class="company">
        <div><span class="bold">회사명</span> : <%= locals.setting.siteNameRaw %> <span class="bold">고객센터</span> : 010-1234-1234 <span class="bold">카톡</span> : swedish365</div>
        <div><span class="bold">사업자등록번호</span> : 123-123-1234 <span class="bold">주소</span> : 서울특별시 강남구 테헤란로63길 9</div>
      </div>
      <div>Copyright <span class="bold"><%= locals.setting.siteNameRaw %></span> All rights reserved.</div>
    </div>
    <div></div>
  </div>
</footer>