<style>
  <% if (locals.setting.theme === 'black') { %>
  footer .license {
    color: rgba(255, 255, 255, 0.3);
  }

  footer .license a {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .license a:hover,
  footer .license a:active {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .copyright {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .count {
    color: <%= locals.setting.bodyFontColor %>;
  }
  <% } %>
</style>
<footer>
  <div class="wrap">
    <div class="guide"><%- locals.setting.footerGuide %></div>
    <div class="license">Made by<span class="bold">SJ Company</span></div>
    <% if (locals.setting.useVisitCount) { %>
    <div class="count">
      <div class="today">오늘 <%= Number(locals.count?.today).toLocaleString() %></div>
      <div class="yesterday">어제 <%= Number(locals.count?.yesterday).toLocaleString() %></div>
      <div class="month">한달 <%= Number(locals.count?.month).toLocaleString() %></div>
    </div>
    <% } %>
  </div>
</footer>