<style>
  <% if (locals.setting.theme === 'black') { %>
  footer .license {
    color: rgba(255, 255, 255, 0.5);
  }

  footer .license a {
    color: rgba(255, 255, 255, 0.5);
  }

  footer .license a:hover,
  footer .license a:active {
    color: rgba(255, 255, 255, 0.5);
  }

  footer .copyright {
    color: rgba(255, 255, 255, 0.5);
  }

  footer .count {
    color: rgba(255, 255, 255, 0.5);
  }
  <% } %>
</style>
<footer>
  <div class="wrap">
    <div class="guide"><%- locals.setting.footerGuide %></div>
    <div class="license"><span class="bold"><%= locals.setting.siteName %></span></div>
    <% if (locals.setting.useVisitCount) { %>
    <div class="count">
      <div class="today">오늘 <%= Number(locals.count.today).toLocaleString() %></div>
      <div class="yesterday">어제 <%= Number(locals.count.yesterday).toLocaleString() %></div>
      <div class="month">한달 <%= Number(locals.count.month).toLocaleString() %></div>
    </div>
    <% } %>
  </div>
</footer>