<footer>
  <div class="line">
    <div class="wrap">
      <% locals.topMenus.forEach(m => { %>
        <% if (!m.parentId) { %>
        <li><a href="/<%= m.target %>"><%= m.title %></a></li>
        <% } %>
      <% }) %>
    </div>
  </div>
  <div class="wrap">
    <div class="logo"><img src="/logo/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></div>
    <div class="info">
      <div class="comment">
        <div><%= locals.setting.siteName %>는 자체적으로 검증이 완료된 업체들의 정보를 제공할 뿐 직접적인 가입 중계를 하지 않습니다.</div>
        <div><%= locals.setting.siteName %>는 다양한 방법을 통한 검증 방식에 통과한 업체만 광고 등록이 가능합니다.</div>
        <div><%= locals.setting.siteName %>에 기재된 광고 내용은 검증업체가 제공하는 정보로서 틀린 내용이 있다면 <%= locals.setting.siteName %>로 신고 바랍니다.</div>
      </div>
      <div class="copyright">Copyright <%= locals.setting.siteName %> All Rights Reserved.</div>
    </div>
  </div>
</footer>