<style>
  article .highlight {
    color: <%= locals.setting.pointColor %>;
  }
</style>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
<script src="/theme/5il7fg/javascripts/storeSlick.js" defer></script>
<article>
  <div class="slider">
    <% store.images.forEach(i => { %>
    <div class="slide">
      <img src="/assets/emptyLow.png" style="background-image: url('<%= s3Host %>/offlineImage/<%= i.image %>');">
    </div>
    <% }) %>
  </div>
  <section class="top">
    <div class="info">
      <div class="infoTop">
        <div class="left">
          <div class="st"><%= store.province %></div>
          <h1><%= store.title %><% if (store.keyword) { %> | <%= store.keyword %><% } %></h1>
          <div class="etc">
            <div class="address">업체주소 : <%= store.addressLine01 %><% if (store.addressLine02) { %>, <%= store.addressLine02 %><% } %></div>
            <div class="time">영업시간 : 낮1시 ~ 새벽2시</div>
            <div class="phone">전화번호 : <%= store.phone %></div>
          </div>
          <div class="buttons">
            <a href="tel:<%= store.phone %>" class="call">
              <div><img src="/theme/5il7fg/assets/phone-white.svg"></div>
              <div>전화하기</div>
            </a>
            <a href="sms:<%= store.phone %>?body=<%= locals.setting.siteName %>%20보고%20연락드립니다.%0D%0A예약%20가능%20한가요?" class="sms">
              <div><img src="/theme/5il7fg/assets/message-white.svg"></div>
              <div>문자하기</div>
            </a>
          </div>
        </div>
        <div class="right">
          <div class="grade">
            <% if (store.grade === 10) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg">
            <% } else if (store.grade >= 8) { %>
            <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg">
            <% } else if (store.grade >= 6) { %>
            <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
            <% } else if (store.grade >= 4) { %>
            <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
            <% } else if (store.grade >= 2) { %>
            <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
            <% } else { %>
            <img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
            <% } %>
          </div>
          <% if (locals.user) { %>
            <% if (store.like) { %>
            <a href="/store/<%= store.id %>/like" class="like likeOn">
              <div><img src="/theme/5il7fg/assets/heart-on.svg"></div>
              <div>찜하기</div>
            </a>
            <% } else { %>
            <a href="/store/<%= store.id %>/like" class="like">
              <div><img src="/theme/5il7fg/assets/heart-off.svg"></div>
              <div>찜하기</div>
            </a>
            <% } %>
          <% } else { %>
            <a href="#" class="like" onclick="alert('로그인 필요');">
              <div><img src="/theme/5il7fg/assets/heart-off.svg"></div>
              <div>찜하기</div>
            </a>
          <% } %>
        </div>
      </div>
      <div class="infoBottom">
        <div class="types">
          <div class="type">
            <% if (store.types.find(t => t.slug === 'discount')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/discount-on.svg">
            </div>
            <div class="text highlight">24시할인</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/discount-off.svg">
            </div>
            <div class="text">24시할인</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'parking')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/parking-on.svg">
            </div>
            <div class="text highlight">무료주차</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/parking-off.svg">
            </div>
            <div class="text">무료주차</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'sleep')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/sleep-on.svg">
            </div>
            <div class="text highlight">수면가능</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/sleep-off.svg">
            </div>
            <div class="text">수면가능</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'shower')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/shower-on.svg">
            </div>
            <div class="text highlight">샤워가능</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/shower-off.svg">
            </div>
            <div class="text">샤워가능</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'couple')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/couple-on.svg">
            </div>
            <div class="text highlight">커플할인</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/couple-off.svg">
            </div>
            <div class="text">커플할인</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'wifi')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/wifi-on.svg">
            </div>
            <div class="text highlight">WI-FI</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/wifi-off.svg">
            </div>
            <div class="text">WI-FI</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'event')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/event-on.svg">
            </div>
            <div class="text highlight">이벤트중</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/event-off.svg">
            </div>
            <div class="text">이벤트중</div>
            <% } %>
          </div>
          <div class="type">
            <% if (store.types.find(t => t.slug === 'popular')) { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/popular-on.svg">
            </div>
            <div class="text highlight">인기업체</div>
            <% } else { %>
            <div class="icon">
              <img src="/theme/5il7fg/assets/type/popular-off.svg">
            </div>
            <div class="text">인기업체</div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= locals.setting.googleCloudPlatformApiKey %>&q=<%= store.geometryLatitude %>,<%= store.geometryLongitude %>" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </section>
  <section class="main">
    <h2>샵정보</h2>
    <div class="courses">
      <div class="title">가격안내</div>
      <% store.products.forEach(p => { %>
      <div class="course">
        <div class="title"><%= p.title %></div>
        <div class="price">
          <div class="left">
            <div class="discount"><%= p.discountPrice.toLocaleString() %></div>
            <div class="original"><%= p.originalPrice.toLocaleString() %></div>
          </div>
          <div class="right">
            <div class="discountRate"><%= p.discountRate %>%</div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="content"><%- store.content %></div>
    <h2>이용후기</h2>
    <div class="reviews">
      <% store.reviews.forEach(r => { %>
      <div class="review">
        <div class="info">
          <div class="left">
            <div class="nickName"><%= r.nickName %></div>
            <div class="datetime"><%= r.datetime %></div>
            <div class="grade">
              <% if (r.grade === 10) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg">
              <% } else if (r.grade >= 8) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg">
              <% } else if (r.grade >= 6) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
              <% } else if (r.grade >= 4) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
              <% } else if (r.grade >= 2) { %>
              <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
              <% } else { %>
              <img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
              <% } %>
            </div>
          </div>
          <div class="right">
            <% if (locals.user && locals.user.id === r.offlineReview_user_ID) { %>
            <form action="/store/<%= store.id %>/review/edit/<%= r.id %>" method="POST">
              <button name="submit" value="delete"><img src="/theme/5il7fg/assets/close.svg"></button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="content">
          <%- r.content %>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('../pagination') %>
    <div class="writeReview">
      <% if (locals.user) { %>
      <form action="/store/<%= store.id %>/review/new" method="POST">
        <div class="grade">
          <label>별점</label>
          <select name="grade">
            <option value="10">★★★★★</option>
            <option value="8">★★★★☆</option>
            <option value="6">★★★☆☆</option>
            <option value="4">★★☆☆☆</option>
            <option value="2">★☆☆☆☆</option>
            <option value="0">☆☆☆☆☆</option>
          </select>
        </div>
        <textarea name="content" placeholder="이용후기를 작성해주세요."></textarea>
        <button>이용후기 작성</button>
      </form>
      <% } else { %>
      <div class="grade">
        <label>별점</label>
        <select name="grade">
          <option value="">★★★★★</option>
          <option value="">★★★★☆</option>
          <option value="">★★★☆☆</option>
          <option value="">★★☆☆☆</option>
          <option value="">★☆☆☆☆</option>
          <option value="">☆☆☆☆☆</option>
        </select>
      </div>
      <textarea name="content" placeholder="로그인이 필요한 서비스입니다. 회원가입 후 이용해주세요." disabled></textarea>
      <button onclick="alert('로그인 필요');">이용후기 작성</button>
      <% } %>
    </div>
  </section>
  <section class="notice">
    <div class="title">
      <div class="icon"><img src="/theme/5il7fg/assets/notice.svg"></div>
      <div class="text">공지사항</div>
    </div>
    <ul>
      <li><span class="red">사전예약 및 현금 결제시 적용</span>되는 할인가격입니다.</li>
      <li>할인시간 : <span class="blue">24시간 할인가격 적용</span>됩니다.</li>
      <li>영업시간 : 위 내용 참고해주세요.</li>
      <li>주차,수면,샤워등은 예약시 문의해 주시기 바랍니다.</li>
      <li><span class="red">퇴폐문의 절대사절</span> 합니다.</li>
      <li>궁금하신 사항은 언제라도 전화주세요.</li>
    </ul>
    <div class="comment">저희 스웨디시24는 서비스 정보중개자로서, 서비스 제공의 당사자가 아님을 고지하고 서비스의 예약, 이용 및 환불 불법적인 행위 등과 관련된 의무와 책임은 각 서비스 제공자에게 있습니다.</div>
  </section>
</article>