<section class="list">
  <div class="wrap">
    <div class="items">
      <% stores.forEach(s => { %>
      <div class="item">
        <div class="image">
          <a href="/store/<%= s.id %>"><img src="/assets/emptyLow.png" style="<% if (s.image) { %>background-image: url('<%= s3Host %>/offlineImage/<%= s.image?.image %>');<% } %>"></a>
          <div class="price">
            <div class="original">
              <div class="percent"><%= s.product?.discountRate %>%</div>
              <div class="line"><%= s.product?.originalPrice.toLocaleString() %></div>
            </div>
            <div class="sale"><%= s.product?.discountPrice.toLocaleString() %>원</div>
          </div>
          <% if (s.distance) { %>
          <div class="distance">
            <div><img src="/theme/5il7fg/assets/list/location.svg"></div>
            <div><%= s.distance %></div>
          </div>
          <% } %>
          <% if (locals.user) { %>
            <% if (s.like) { %>
            <a href="/store/<%= s.id %>/like" class="like likeOn">
              <div><img src="/theme/5il7fg/assets/heart-on.svg"></div>
              <div>찜하기</div>
            </a>
            <% } else { %>
            <a href="/store/<%= s.id %>/like" class="like">
              <div><img src="/theme/5il7fg/assets/heart-off.svg"></div>
              <div>찜하기</div>
            </a>
            <% } %>
          <% } else { %>
            <a href="#" class="like" onclick="alert('로그인 필요');">
              <div><img src="/theme/5il7fg/assets/heart-off.svg"></div>
              <div>찜하기</div>
            </a>
          <% } %>
        </div>
        <div class="title"><%= s.keyword %> | <%= s.title %></div>
        <div class="info">
          <div class="address">
            <div><img src="/theme/5il7fg/assets/list/address.svg"></div>
            <div>업체주소 : <%= s.addressLine01 %></div>
          </div>
          <div class="phone">
            <div><img src="/theme/5il7fg/assets/list/phone.svg"></div>
            <div>전화번호 : <%= s.phone %></div>
          </div>
          <div class="etc">
            <div class="grade">
              <div>
                <% if (s.grade === 10) { %>
                <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg">
                <% } else if (s.grade >= 8) { %>
                <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg">
                <% } else if (s.grade >= 6) { %>
                <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
                <% } else if (s.grade >= 4) { %>
                <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
                <% } else if (s.grade >= 2) { %>
                <img src="/theme/5il7fg/assets/star-on.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
                <% } else { %>
                <img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg"><img src="/theme/5il7fg/assets/star-off.svg">
                <% } %>
              </div>
              <div><%= s.grade %></div>
            </div>
            <div class="view">
              <div><img src="/theme/5il7fg/assets/list/view.svg"></div>
              <div>조회수 <%= s.viewCount %></div>
            </div>
            <div class="review">
              <div><img src="/theme/5il7fg/assets/list/review.svg"></div>
              <div>리뷰수 <%= s.reviewCount %></div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <% if (typeof (pn) !== 'undefined' && pn) { %>
      <%- include('../offline/pagination') %>
    <% } %>
  </div>
</section>