<style>
  
  <% if (locals.setting.theme === 'black') { %>
  footer .license {
    color: rgba(255, 255, 255, 0.3);
  }

  footer .license a {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .license a:hover,
  footer .license a:active {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .copyright {
    color: <%= locals.setting.bodyFontColor %>;
  }

  footer .count {
    color: <%= locals.setting.bodyFontColor %>;
  }
  <% } %>
  footer .company {
    color : rgba(255, 255, 255, 0.5);
    text-align : center;
  }
  footer .guide {
    color : rgba(255, 255, 255, 0.1);
  }
  footer .bold {
    text-align: center;
    color : black;
  }
</style>
<!--
<footer>
  <div class="wrap">
    <div class="guide"><%- locals.setting.footerGuide %></div>
    <div class="license">Made by<span class="bold"><%= locals.setting.siteNameRaw %></span></div>
    <% if (locals.setting.useVisitCount) { %>
    <div class="count">
      <div class="today">오늘 <%= Number(locals.count?.today).toLocaleString() %></div>
      <div class="yesterday">어제 <%= Number(locals.count?.yesterday).toLocaleString() %></div>
      <div class="month">한달 <%= Number(locals.count?.month).toLocaleString() %></div>
    </div>
    <% } %>
  </div>
</footer>
-->

<footer>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-60EYCRS0J6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-60EYCRS0J6');
  </script>
  <div class="wrap">
    <!--<div class="logo"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></div>-->
    <div class="info">
      <div class="company">
        <div>
          <!--<div class="bold">브이메디 대표자 김민성 | 대구광역시 북구 경대로 7길 43-6, 102호 </div>
          <div class="bold">이메일 : vetweenus@gmail.com </div>
          <div class="bold">사업자등록번호 : 225-05-98485 </div>-->
        </div>
      <!--<div class="bold">Copyright &copy 2022-2022 Vetween. All Rights Reserved.</div>-->
      <div class="guide">
        <table>
            <tr>
              <td><a href="/terms" target="_blank">이용약관</a> | </td>
              <td><a href="/privacy" target="_blank">개인정보 취급방침</a> | </td>
              <td><a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=2250598485" target="_blank">사업자등록정보</a></div></td>
            </tr>
        </table>
      </div>
    <div></div>
  </div>
</footer>
