<footer>
  <div class="wrap">
    <div class="guide"><%- locals.setting.footerGuide %></div>
    <div class="license">Made by<span class="bold"><%= locals.setting.siteName %></span></div>
    <% if (locals.setting.license) { %>
    <div class="license">Solution by<span class="bold"><a href="https://waffleboard.io" target="_blank">WaffleBoard</a></span></div>
    <% } %>
    <% if (locals.setting.copyright) { %>
    <div class="copyright"><%- locals.setting.copyright %></div>
    <% } %>
    <% if (locals.setting.useVisitCount) { %>
    <div class="count">
      <div class="today">오늘 <%= Number(locals.count.today).toLocaleString() %></div>
      <div class="yesterday">어제 <%= Number(locals.count.yesterday).toLocaleString() %></div>
      <div class="month">한달 <%= Number(locals.count.month).toLocaleString() %></div>
    </div>
    <% } %>
  </div>
</footer>