<footer>
  <div class="guide">
    <div class="wrap">
      <h2>알파연구소 차별화된 시스템</h2>
      <div class="comment">알파연구소는 차별화된 서비스를 보여드리도록 노력하겟습니다.</div>
      <div class="items">
        <div class="item">
          <div class="image"><img src="/theme/l5eu8d/assets/clock-regular.svg"></div>
          <div class="title">365일 24시간 입출금 거래</div>
        </div>
        <div class="item">
          <div class="image"><img src="/theme/l5eu8d/assets/mobile-alt-solid.svg"></div>
          <div class="title">모의투자 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="/theme/l5eu8d/assets/user-tie-solid.svg"></div>
          <div class="title">전문가 1대1 교육</div>
        </div>
        <div class="item">
          <div class="image"><img src="/theme/l5eu8d/assets/chart-bar-regular.svg"></div>
          <div class="title">시그널 차트 무료 교부</div>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <% locals.topMenus.forEach(m => { %>
        <% if (!m.parentId) { %>
        <li>
          <a href="/<%= m.target %>"><%= m.title %></a>
          <% const subMenu = topMenus.filter(s => m.id === s.parentId) %>
          <% if (subMenu.length) { %>
          <ul>
            <% subMenu.forEach(s => { %>
            <li><a href="/<%= s.target %>"><%= s.title %></a></li>
            <% }) %>
          </ul>
          <% } %>
        </li>
        <% } %>
      <% }) %>
    </ul>
  </nav>
  <div class="company">
    <div class="wrap">
      <div class="logo"><img src="/logo/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></div>
      <div class="info">
        <div class="check"><a href="/privacy">개인정보처리방침</a> | <a href="/terms">이용약관</a></div>
        <div>대표 : 알렉스김 / 주소 : 서울특별시 강남구 테헤란로 521 파르나스타워 22F / 고객센터 : 010-7516-8332</div>
        <div class="kakao"><a href="https://open.kakao.com/o/sMzFFKxd" target="_blank">카카오톡 1:1 고객센터</a></div>
        <div>Copyright All rights reserved.</div>
      </div>
    </div>
  </div>
  <div class="blank"></div>
  <div class="contact">
    <div class="wrap">
      <div class="dropdown"><img src="/theme/l5eu8d/assets/up.svg"></div>
      <div class="info">
        <div class="title">VIP상담신청</div>
        <div class="comment">연락처를 남겨주시면, 빠르게 연락드리겠습니다.</div>
      </div>
      <form action="/sendEmail" method="POST" onsubmit="joinSubmit()">
        <input type="text" name="name" placeholder="이름">
        <input type="text" name="phone" placeholder="연락처">
        <input type="text" name="email" placeholder="이메일">
        <button>상담신청하기</button>
      </form>
    </div>
  </div>
</footer>
<script>
  const contact = document.querySelector('footer .contact');
  const contactForm = contact.querySelector('form');
  const dropdownBtn = contact.querySelector('.dropdown');
  const dropdownImage = contact.querySelector('.dropdown img');
  dropdownBtn.addEventListener('click', () => {
    contact.classList.toggle('active');
    contactForm.classList.toggle('active');
    if (dropdownImage.src.match('down')) {
      dropdownImage.src = dropdownImage.src.replace('down', 'up');
    } else {
      dropdownImage.src = dropdownImage.src.replace('up', 'down');
    }
  });

  const joinSubmit = () => {
    alert('신청완료 되었습니다.');
  };
</script>