<style>
  <% if (locals.setting.theme === 'black') { %>
  article h1 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .info {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .info .continue .popUp {
    background-color: #000;
  }
  article .comment input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.3);
  }
  article .buttons a {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .buttons a:hover,
  article .buttons a:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  article .checkList .item {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
</style>
<article>
  <h1>출석체크</h1>
  <section class="buttons">
    <a href="/check?date=<%= yesterday %>">이전날</a>
    <a href="/check">오늘</a>
    <a href="/check?date=<%= tomorrow %>">다음날</a>
  </section>
  <section class="info">
    <div class="date">출석일 / <%= today %></div>
    <div class="point">출석점수 / <%= locals.setting.checkPoint %></div>
    <div class="continue">
      <div class="title">개근점수</div>
      <ul class="popUp">
        <% if (checkContinues.length) { %>
          <% checkContinues.forEach(checkContinue => { %>
          <li><%= checkContinue.date %>일 이상 - <%= checkContinue.point %>점</li>
          <% }) %>
        <% } else { %>
          <li>없음</li>
        <% } %>
      </ul>
    </div>
    <div class="check">출석여부 / <% if (status) { %>출석 완료<% } else { %>출석 안함<% } %></div>
  </section>
  <section class="comment">
    <form name="frm" action="/check" method="POST" onsubmit="return onSubmit();">
      <input type="text" name="comment" value="<%= checkComment %>" placeholder="인사말">
      <button>출석</button>
    </form>
  </section>
  <section class="checkList">
    <% checks.forEach(check => { %>
    <div class="item">
      <div class="number"><%= check.number %>등</div>
      <div class="nickName"><%= check.nickName %></div>
      <div class="comment"><%= check.comment %></div>
      <div class="point"><%= check.point %>점</div>
      <div class="continue"><%= check.continue %>일째</div>
      <div class="total">총<%= check.total %>일</div>
    </div>
    <% }) %>
  </section>
</article>
<script>
  const checkContinueBtn = document.querySelector('.continue .title');
  const checkContinuePopup = document.querySelector('.continue .popUp');
  checkContinueBtn.addEventListener('click', () => {
    checkContinuePopup.classList.toggle('active');
  });

  const onSubmit = () => {
    if (!frm.comment.value) {
      alert('인사말을 입력해주세요');
      return false;
    }
  };
</script>