<% if (page.type === 'editor') { %>
  <style>
    article > .content {
      color: <%= locals.setting.bodyFontColor %>;
    }
  
    article > .content .image {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    article > .content .media {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
  <article>
    <div class="content">
      <%- page.content %>
    </div>
  </article>
<% } else { %>
  <style>
    <%- locals.setting.pageCommonCss %>
    <%- page.css %>
  </style>
  <article>
    <%- page.html %>
  </article>
<% } %>