<article>
  <div class="wrap">
    <% if (locals.setting.adsenseTop) { %>
    <div class="adsense">
      <%- locals.setting.adsenseTop %>
    </div>
    <% } %>
    <% if (locals.banners.filter(b => b.position === 'indexTop' && b.status === 1).length) { %>
      <%- include('../../banner', { position: 'indexTop' }); %>
    <% } %>
    <% if (locals.setting.adsenseBottom) { %>
    <div class="adsense">
      <%- locals.setting.adsenseBottom %>
    </div>
    <% } %>
    <% if (indexBoards) { %>
    <section id="otherBoard">
      <div class="boards">
        <% let i = 0 %>
        <% indexBoards.forEach(b => { %>
        <% if (i !== 0 && i !== 1 && i !== 2) { %>
        <div class="board">
          <div class="titleContainer">
            <div class="title">
              <% if (b.image) { %>
              <img src="<%= s3Host %>/board/<%= b.image %>">
              <% } %>
              <h2><%= b.title %></h2>
            </div>
            <div class="more"><a href="/<%= b.slug %>">+</a></div>
          </div>
          <div class="articles">
            <% b.articles.forEach(a => { %>
            <div class="article">
              <a href="/<%= b.slug %>/<%= a.id %>" class="title">
                <% if (a.isNew) { %>
                <svg width="14px" height="14px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>New</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="New">
                      <rect id="Rectangle" fill="#FF0000" x="0" y="0" width="300" height="300" rx="25"></rect>
                      <g id="N" transform="translate(60.000000, 56.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <polygon id="Path" points="0 0 54.3081312 0 125.178317 104.155337 125.178317 0 180 0 180 188.275862 125.178317 188.275862 54.6932953 84.8910947 54.6932953 188.275862 0 188.275862"></polygon>
                      </g>
                    </g>
                  </g>
                </svg>
                <% } %>
                <div class="text"><%= a.title %></div>
              </a>
              <div class="datetime<% if (a.isNew) { %> isNew<% } %>"><%= a.datetime %></div>
            </div>
            <% }) %>
          </div>
        </div>
        <% } %>
        <% i ++ %>
        <% }) %>
      </div>
    </section>
    <% } %>
    <% if (indexBoards[1]) { %>
    <section id="gallery">
      <div class="titleContainer">
        <div class="title">
          <% if (indexBoards[1].image) { %>
          <img src="<%= s3Host %>/board/<%= indexBoards[1].image %>">
          <% } %>
          <h2><%= indexBoards[1].title %></h2>
        </div>
        <div class="more"><a href="/<%= indexBoards[1].slug %>">+</a></div>
      </div>
      <div class="items">
        <% indexBoards[1].articles.forEach(a => { %>
        <div class="item">
          <div class="image">
            <a href="/<%= indexBoards[1].slug %>/<%= a.id %>">
              <% if (a.images) { %>
              <img src="/assets/empty.png" style="background-image: url('<%= s3Host %>/thumb/<%= a.images[0].image %>');">
              <% } else { %>
              <img src="/assets/empty.png" style="background-image: url('/assets/none.png');">
              <% } %>
            </a>
          </div>
          <div class="title"><a href="/<%= indexBoards[1].slug %>/<%= a.id %>"><%= a.title %></a></div>
          <div class="info">
            <div class="datetime"><%= a.datetime %></div>
            <div class="author">
              <% if (a.userImage) { %>
              <div class="userImage" style="background-image: url('<%= s3Host %>/userImage/<%= a.userImage %>');"></div>
              <% } else { %>
              <div class="userImage" style="background-image: url('/assets/userImage.svg');"></div>
              <% } %>
              <div><%= a.nickName %></div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <% } %>
    <% welcome = locals.assets.find(a => a.slug === 'welcome') %>
    <% if (welcome) { %>
    <section id="welcome">
      <div class="wrap">
        <h2><%= welcome.title %></h2>
        <div class="content"><%- welcome.content %></div>
      </div>
    </section>
    <% } %>
    <% if (indexBoards[0]) { %>
    <section id="guide">
      <div class="wrap">
        <div class="titleContainer">
          <h2><%= indexBoards[0].title %></h2>
          <div class="comment"><%= indexBoards[0].summary %></div>
        </div>
        <div class="items">
          <% indexBoards[0].articles.reverse().forEach(a => { %>
          <div class="item">
            <h3><%= a.title %></h3>
            <div class="content"><%- a.content %></div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
    <% } %>
    <section id="info">
      <div class="wrap">
        <div class="titleContainer">
          <% info = locals.assets.find(a => a.slug === 'info') %>
          <h2><%= info?.title %></h2>
          <div class="comment"><%= info?.content %></div>
        </div>
        <% siteReported = locals.boards.find(b => b.slug === 'siteReported') %>
        <% siteVerified = locals.boards.find(b => b.slug === 'siteVerified') %>
        <% jobVerified = locals.boards.find(b => b.slug === 'jobVerified') %>
        <% infoFirst = locals.assets.find(a => a.slug === 'infoFirst') %>
        <% infoSecond = locals.assets.find(a => a.slug === 'infoSecond') %>
        <% infoThird = locals.assets.find(a => a.slug === 'infoThird') %>
        <div class="items">
          <div class="item first">
            <div class="count"><%= siteReported?.count %><span class="plus">+</span></div>
            <h3><%= infoFirst?.title %></h3>
            <div class="content"><%= infoFirst?.content %></div>
          </div>
          <div class="item second">
            <div class="count"><%= siteVerified?.count %><span class="plus">+</span></div>
            <h3><%= infoSecond?.title %></h3>
            <div class="content"><%= infoSecond?.content %></div>
          </div>
          <div class="item third">
            <div class="count"><%= jobVerified?.count %><span class="plus">+</span></div>
            <h3><%= infoThird?.title %></h3>
            <div class="content"><%= infoThird?.content %></div>
          </div>
        </div>
      </div>
    </section>
    <% if (indexBoards[2]) { %>
    <% const youtubeMatch = /<oembed url="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)[&(amp;)[\w=.]*]?"><\/oembed>/ %>
    <% let youtubeId = null %>
    <% if (indexBoards[2].articles[0]?.content?.match(youtubeMatch)) { %>
    <% youtubeId = indexBoards[2].articles[0]?.content?.match(youtubeMatch)[1] %>
    <% } %>
    <% if (youtubeId) { %>
    <section id="youtube">
      <div class="media">
        <iframe src="https://www.youtube.com/embed/<%= youtubeId %>" allow="fullscreen"></iframe>
      </div>
    </section>
    <% } %>
    <% } %>
    <% if (locals.banners.filter(b => b.position === 'indexBottom' && b.status === 1).length) { %>
      <%- include('../../banner', { position: 'indexBottom' }); %>
    <% } %>
  </div>
</article>