<style>
  header .logo img {
    max-width: <%= locals.setting.logoImageSize %>px;
  }

  header nav > ul > li > a:hover::after {
    background-color: <%= locals.setting.pointColor %>;
  }

  main {
    margin-top: 100px;
  }

  @media (max-width: 1280px) {
    main {
      margin-top: 90px;
    }
  }
</style>
<header>
  <a href="#" class="toggleBtn"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z"/></svg></a>
  <div class="wrap">
    <div class="logo">
      <a href="/"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></a>
    </div>
    <nav>
      <ul>
        <% locals.menus.forEach(menu => { %>
          <li>
            <a href="/<%= menu.target %>"><%= menu.title %></a>
            <% if (menu.subMenus.length) { %>
            <ul>
              <% menu.subMenus.forEach(subMenu => { %>
              <li><a href="/<%= subMenu.target %>"><%= subMenu.title %></a></li>
              <% }) %>
            </ul>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </nav>
  </div>
</header>
<script>
  const navbar = document.querySelector('nav');
  const mypage = document.querySelector('.mypage');
  const toggleBtn = document.querySelector('.toggleBtn');

  toggleBtn.addEventListener('click', () => {
    navbar.classList.toggle('active');
    mypage.classList.toggle('active');
  });
</script>