<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../../head') %>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('../header') %>
          <%- include('../../flash') %>
          <h2>스토어</h2>
          <div class="tableWrap">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>위치</th>
                  <th>스토어명</th>
                  <th>키워드</th>
                  <th>노출</th>
                  <th>상세설정</th>
                </tr>
              </thead>
              <tbody>
                <% stores.forEach(s => { %>
                <form action="/admin/store/edit/<%= s.id %>" method="POST">
                  <tr>
                    <input type="hidden" name="status" value="<%= s.status %>">
                    <td><%= s.id %></td>
                    <td><%= s.city %> <%= s.province %></td>
                    <td><%= s.title %></td>
                    <td><%= s.keyword %></td>
                    <td><button name="submit" value="status"><% if (s.status) { %>노출<% } else { %>노출안함<% } %></button></td>
                    <td><a href="/admin/store/detail/<%= s.id %>"><button type="button">상세설정</button></a></td>
                  </tr>
                </form>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%- include('../../pagination') %>
          <h2>새로 등록</h2>
          <div class="tableWrap">
            <table>
              <thead>
                <tr>
                  <th>스토어명</th>
                  <th>등록</th>
                </tr>
              </thead>
              <tbody>
                <form action="/admin/store/new" method="POST">
                  <tr>
                    <td><input type="text" name="title" placeholder="스토어명"></td>
                    <td><button>등록</button></td>
                  </tr>
                </form>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </main>
    <%- include('../../footer') %>
  </body>
</html>