<div class="indexBoards <%= indexBoardGroup.type %>">
  <% indexBoardGroup.indexBoards.forEach(indexBoard => { %>
  <div class="indexBoard <%= indexBoard.type %>">
    <% if (indexBoardGroup.showTitleAndContent) { %>
    <div class="indexBoardTitleContainer">
      <h2><a href="/<%= indexBoard.slug %>"><%= indexBoard.title %></a></h2>
      <div class="content"><%- indexBoardGroup.content %></div>
    </div>
    <% } %>
    <div class="articles <%= indexBoard.type %>">
      <% indexBoard.articles.forEach(article => { %>
      <div class="article">
        <div class="image">
          <a href="/<%= article.boardSlug %>/<%= article.id %>">
            <% if (article.images.length) { %>
            <img src="/assets/empty.png" style="background-image: url('<%= s3Host %>/article/<%= article.images[0].key %>');">
            <% } else { %>
            <img src="/assets/empty.png" style="background-image: url('/assets/none.png');">
            <% } %>
          </a>
        </div>
        <div class="info">
          <h3><a href="/<%= article.boardSlug %>/<%= article.id %>"><%= article.title %></a></h3>
          <div class="content"><%= article.content %></div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <% }) %>
  <script>
    window.addEventListener("flutterInAppWebViewPlatformReady", function(event) {
      window.flutter_inappwebview.callHandler('UserInfo', '*** Message From Server JS ***').then(function(result) {
        //document.write(result.userId);
        const userId = result.userId;
        document.getid.userId.value=userId;
        document.getid.submit();
      });
    });
  </script>
  <form id="getid" action="/catch" method="POST">
    <input type="hidden" id="userId" value="">
  </form>
</div>