<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2><%= board.title %> 상세설정</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>쓰기 포인트 +</th>
                    <th>댓글쓰기 포인트 +</th>
                    <th>읽기 포인트 -</th>
                    <th>비밀글</th>
                    <th>익명</th>
                    <th>한번만</th>
                    <th>링크 사용</th>
                    <th>자료실 사용</th>
                    <th>회원그룹 권한 사용</th>
                    <th>새글 회원 알람</th>
                    <th>새글 관리자 알람</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/board/detail/<%= board.id %>" method="POST" enctype="multipart/form-data">
                    <tr>
                      <td><input type="text" name="writePoint" value="<%= board.writePoint %>" placeholder="쓰기 포인트 +"></td>
                      <td><input type="text" name="commentPoint" value="<%= board.commentPoint %>" placeholder="댓글쓰기 포인트 +"></td>
                      <td><input type="text" name="readPoint" value="<%= board.readPoint %>" placeholder="읽기 포인트 -"></td>
                      <td><input type="checkbox" name="useSecret" value="1"<% if (board.useSecret) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useAnonymous" value="1"<% if (board.useAnonymous) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useOnce" value="1"<% if (board.useOnce) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useLinks" value="1"<% if (board.useLinks) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useFiles" value="1"<% if (board.useFiles) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useUserGroupPermission" value="1"<% if (board.useUserGroupPermission) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useUserAlarm" value="1"<% if (board.useUserAlarm) { %> checked<% } %>></td>
                      <td><input type="checkbox" name="useAdminAlarm" value="1"<% if (board.useAdminAlarm) { %> checked<% } %>></td>
                      <td><button name="submit" value="detail">설정</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>회원그룹 권한</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>회원그룹명</th>
                    <th>목록 조회</th>
                    <th>게시글 읽기</th>
                    <th>게시글 쓰기</th>
                    <th>댓글 쓰기</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <% userGroups.forEach(userGroup => { %>
                    <form action="/admin/board/detail/<%= board.id %>/permission/<%= userGroup.id %>" method="POST">
                      <tr>
                        <td><%= userGroup.title %></td>
                        <td><input type="checkbox" name="listPermission" value="1"<% if (userGroup.listPermission) { %> checked<% } %>></td>
                        <td><input type="checkbox" name="readPermission" value="1"<% if (userGroup.readPermission) { %> checked<% } %>></td>
                        <td><input type="checkbox" name="writePermission" value="1"<% if (userGroup.writePermission) { %> checked<% } %>></td>
                        <td><input type="checkbox" name="commentPermission" value="1"<% if (userGroup.commentPermission) { %> checked<% } %>></td>
                        <td><button>설정</button></td>
                      </tr>
                    </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>카테고리</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>카테고리 이름</th>
                    <th>표시 순서</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <% board.categories.forEach(c => { %>
                    <form action="/admin/category/edit/<%= c.id %>" method="POST" enctype="multipart/form-data">
                    <form>
                      <tr>
                        <td><%= c.id %></td>
                        <td><input type="text" name="title" value="<%= c.title %>" placeholder="카테고리 이름"></td>
                        <td><input type="text" name="viewOrder" value="<%= c.viewOrder %>" placeholder="표시 순서"></td>
                        <td><button name="submit" value="edit">수정</button></td>
                        <td><button name="submit" value="delete">삭제</button></td>
                      </tr>
                    </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>새로 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>카테고리 이름</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/category/new" method="POST">
                    <tr>
                      <input type="hidden" name="boardId" value="<%= board.id %>">
                      <td><input type="text" name="title" placeholder="카테고리 이름"></td>
                      <td><button name="submit" value="new">등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>커스텀 필드</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <td>순번</td>
                    <th>필드 사용</th>
                    <th>필드 문구</th>
                    <th>설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/board/detail/<%= board.id %>" method="POST">
                    <tr>
                      <td>1</td>
                      <td><input type="checkbox" name="useCustomField01" value="1"<% if (board.useCustomField01) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle01" value="<%= board.customFieldTitle01 %>" placeholder="필드 문구"></td>
                      <td rowspan="10"><button name="submit" value="customField">설정</button></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><input type="checkbox" name="useCustomField02" value="1"<% if (board.useCustomField02) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle02" value="<%= board.customFieldTitle02 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><input type="checkbox" name="useCustomField03" value="1"<% if (board.useCustomField03) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle03" value="<%= board.customFieldTitle03 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><input type="checkbox" name="useCustomField04" value="1"<% if (board.useCustomField04) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle04" value="<%= board.customFieldTitle04 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><input type="checkbox" name="useCustomField05" value="1"<% if (board.useCustomField05) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle05" value="<%= board.customFieldTitle05 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><input type="checkbox" name="useCustomField06" value="1"<% if (board.useCustomField06) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle06" value="<%= board.customFieldTitle06 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><input type="checkbox" name="useCustomField07" value="1"<% if (board.useCustomField07) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle07" value="<%= board.customFieldTitle07 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><input type="checkbox" name="useCustomField08" value="1"<% if (board.useCustomField08) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle08" value="<%= board.customFieldTitle08 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td><input type="checkbox" name="useCustomField09" value="1"<% if (board.useCustomField09) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle09" value="<%= board.customFieldTitle09 %>" placeholder="필드 문구"></td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td><input type="checkbox" name="useCustomField10" value="1"<% if (board.useCustomField10) { %> checked<% } %>></td>
                      <td><input type="text" name="customFieldTitle10" value="<%= board.customFieldTitle10 %>" placeholder="필드 문구"></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>