<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>GO</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>GO</th>
                    <th>URL</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <% gos.forEach(go => { %>
                    <form action="/admin/go/edit/<%= go.id %>" method="POST">
                      <tr>
                        <td><input type="text" name="slug" value="<%= go.slug %>" placeholder="GO"></td>
                        <td><input type="text" name="url" value="<%= go.url %>" placeholder="URL"></td>
                        <td><button name="submit" value="edit">수정</button></td>
                        <td><button name="submit" value="delete">삭제</button></td>
                      </tr>
                    </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <%- include('../pagination') %>
          <section>
            <h2>신규 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>GO</th>
                    <th>URL</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/go/new" method="POST">
                    <tr>
                      <td><input type="text" name="slug" placeholder="GO"></td>
                      <td><input type="text" name="url" placeholder="URL"></td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>