<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2>첫페이지 그룹</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>타이틀</th>
                    <th>컨텐츠</th>
                    <th>타이틀, 컨텐츠 표시</th>
                    <th>타입</th>
                    <th>표시 순서</th>
                    <th>수정</th>
                    <th>삭제</th>
                    <th>표시</th>
                    <th>상세</th>
                  </tr>
                </thead>
                <tbody>
                  <% adminIndexBoardGroups.forEach(indexBoardGroup => { %>
                  <form action="/admin/indexBoardGroup/edit/<%= indexBoardGroup.id %>" method="POST">
                    <tr>
                      <td><input type="text" name="title" value="<%= indexBoardGroup.title %>" placeholder="타이틀"></td>
                      <td><textarea name="content" placeholder="컨텐츠"><%= indexBoardGroup.content %></textarea></td>
                      <td><input type="checkbox" name="showTitleAndContent" value="1"<% if (indexBoardGroup.showTitleAndContent) { %> checked<% } %>></td>
                      <td>
                        <select name="type">
                          <option value="rowTwo"<% if (indexBoardGroup.type === 'rowTwo') { %> selected<% } %>>2단</option>
                          <option value="rowOne"<% if (indexBoardGroup.type === 'rowOne') { %> selected<% } %>>1단</option>
                          <option value="tab"<% if (indexBoardGroup.type === 'tab') { %> selected<% } %>>탭</option>
                          <option value="dropdown"<% if (indexBoardGroup.type === 'dropdown') { %> selected<% } %>>드롭다운</option>
                          <option value="blog"<% if (indexBoardGroup.type === 'blog') { %> selected<% } %>>블로그</option>
                          <option value="content"<% if (indexBoardGroup.type === 'content') { %> selected<% } %>>컨텐츠</option>
                          <option value="imageAndTitle"<% if (indexBoardGroup.type === 'imageAndTitle') { %> selected<% } %>>이미지+제목</option>
                          <option value="bookmarkThree"<% if (indexBoardGroup.type === 'bookmarkThree') { %> selected<% } %>>북마크3단</option>
                          <option value="bookmarkFour"<% if (indexBoardGroup.type === 'bookmarkFour') { %> selected<% } %>>북마크4단</option>
                          <option value="bookmarkFive"<% if (indexBoardGroup.type === 'bookmarkFive') { %> selected<% } %>>북마크5단</option>
                          <option value="side"<% if (indexBoardGroup.type === 'side') { %> selected<% } %>>사이드</option>
                          <option value="customBanner"<% if (indexBoardGroup.type === 'customBanner') { %> selected<% } %>>커스텀 배너</option>
                        </select>
                      </td>
                      <td><input type="text" name="viewOrder" value="<%= indexBoardGroup.viewOrder %>" placeholder="표시순서"></td>
                      <td><button name="submit" value="edit">수정</button></td>
                      <td><button name="submit" value="delete">삭제</button></td>
                      <td>
                        <button name="submit" value="status">
                          <% if (indexBoardGroup.status) { %>
                            표시
                          <% } else { %>
                            표시안함
                          <% } %>
                        </button>
                      </td>
                      <td><a href="/admin/indexBoardGroup/detail/<%= indexBoardGroup.id %>"><button type="button">상세</button></a></td>
                    </tr>
                  </form>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <h2>첫페이지 그룹 등록</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>타이틀</th>
                    <th>타입</th>
                    <th>등록</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/indexBoardGroup/new" method="POST">
                    <tr>
                      <td><input type="text" name="title" placeholder="타이틀"></td>
                      <td>
                        <select name="type">
                          <option value="rowTwo">2단</option>
                          <option value="rowOne">1단</option>
                          <option value="tab">탭</option>
                          <option value="dropdown">드롭다운</option>
                          <option value="blog">블로그</option>
                          <option value="content">컨텐츠</option>
                          <option value="imageAndTitle">이미지+제목</option>
                          <option value="bookmarkThree">북마크3단</option>
                          <option value="bookmarkFour">북마크4단</option>
                          <option value="bookmarkFive">북마크5단</option>
                          <option value="side">사이드</option>
                          <option value="customBanner">커스텀 배너</option>
                        </select>
                      </td>
                      <td><button>등록</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>