<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <div class="list">
            <h2>업데이트</h2>
          </div>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>