<style>
  article .userImage {
    <% if (locals.user.image) { %>
    background-image: url('<%= s3Host %>/userImage/<%= locals.user.image %>');
    <% } else { %>
    background-image: url('/assets/userImage.svg');
    <% } %>
  }
</style>
<article id="mypage">
  <h1>마이페이지</h1>
  <div class="center">
    <div class="userImage">
      <label for="imageUpload"></label>
      <input type="file" name="userImage" id="imageUpload">
    </div>
    <div>
      <form action="/mypage" method="POST">
        <div><input type="text" name="id" value="<%= user.id %>" hidden></div>
        <div class="permission">회원등급 : <%= user.permission %> / 포인트 : <%= Number(user.point).toLocaleString() %></div>
        <div class="nickName">
          <div><input type="text" name="nickName" value="<%= user.nickName %>" placeholder="닉네임"></div>
        </div>
        <div class="password">
          <div><input type="password" name="oldPassword" placeholder="기존 비밀번호"></div>
          <div><input type="password" name="password" placeholder="비밀번호"></div>
          <div><input type="password" name="passwordCheck" placeholder="비밀번호 확인"></div>
        </div>
        <div><button>정보 수정</button></div>
        <div class="second"><a href="/mypage/survey"><button type="button">설문조사 수정</button></a></div>
        <% if (locals.setting.usePointWithdraw) { %>
        <div class="second"><a href="/mypage/pointWithdraw"><button type="button">포인트 출금신청</button></a></div>
        <% } %>
      </form>
    </div>
  </div>
</article>
<script>
  const userImage = document.querySelectorAll('.userImage');
  const imageUpload = document.querySelector('#imageUpload');
  imageUpload.addEventListener('change', async () => {
    const key = await setUserImage(imageUpload.files[0]);
    if (key) {
      userImage.forEach(i => {
        i.style.backgroundImage = `url('<%= s3Host %>/userImage/${key}')`;
      });
    }
  });

  const setUserImage = (userImage) => {
    return new Promise((resolve, reject) => {
      const data = new FormData();
      data.append('userImage', userImage);
      const xhr = new XMLHttpRequest();
      xhr.onload = () => {
        if (xhr.status === 200 || xhr.status === 201) {
          const result = JSON.parse(xhr.responseText);
          resolve(result.key);
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/api/userImage');
      xhr.send(data);
    });
  };
</script>