<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../../../head') %>
    <%- include('../../head') %>
  </head>
  <body>
    <%- include('../../../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('../../header') %>
          <h2>"<%= service.title %>" 서비스 상세 설정</h2>
          <table>
            <thead>
              <tr>
                <th>타입</th>
                <th>제목</th>
                <th>요약</th>
                <th>포인트</th>
                <th>최소 주문 수량</th>
                <th>수정</th>
              </tr>
            </thead>
            <tbody>
              <form action="/admin/service/detail/<%= service.id %>/edit" method="POST">
                <tr>
                  <td>
                    <select name="type">
                      <option value="package">패키지</option>
                      <option value="product">상품</option>
                    </select>
                  </td>
                  <td><input type="text" name="title" value="<%= service.title %>" placeholder="제목"></td>
                  <td><input type="text" name="summary" value="<%= service.summary %>" placeholder="요약"></td>
                  <td><input type="text" name="point" value="<%= service.point %>" placeholder="포인트"></td>
                  <td><input type="text" name="minCount" value="<%= service.minCount %>" placeholder="최소 주문 수량"></td>
                  <td rowspan="3"><button name="submit" value="edit">수정</button></td>
                </tr>
              </form>
            </tbody>
          </table>
          <h2>내용 설정</h2>
          <table>
            <thead>
              <tr>
                <th>내용</th>
                <th>수정</th>
              </tr>
            </thead>
            <tbody>
              <form action="/admin/service/detail/<%= service.id %>/edit" method="POST">
                <tr>
                  <td><textarea name="content" placeholder="내용" style="height: 140px;"><%= service.content %></textarea></td>
                  <td><button>수정</button></td>
                </tr>
              </form>
            </tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../../../footer') %>
  </body>
</html>