<section id="boardList">
  <% articles.forEach(article => { %>
    <a class="item"<% if (!article.block) { %> href="/<%= article.boardSlug %>/<%= article.id %>?page=<%= page %>"<% } %>>
      <div class="info">
        <div class="titleContainer">
          <% if (article.notice) { %>
          <span class="category">공지</span>
          <% } else if (article.category) { %>
          <span class="category"><%= article.category %></span>
          <% } %>
          <span class="title"><%= article.title %></span>
          <% if (article.commentCount) { %><span class="commentCount"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="comment-dots" class="svg-inline--fa fa-comment-dots fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M144 208c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm112 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm112 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zM256 32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26S14.4 480 24 480c61.5 0 110-25.7 139.1-46.3C192 442.8 223.2 448 256 448c141.4 0 256-93.1 256-208S397.4 32 256 32zm0 368c-26.7 0-53.1-4.1-78.4-12.1l-22.7-7.2-19.5 13.8c-14.3 10.1-33.9 21.4-57.5 29 7.3-12.1 14.4-25.7 19.9-40.2l10.6-28.1-20.6-21.8C69.7 314.1 48 282.2 48 240c0-88.2 93.3-160 208-160s208 71.8 208 160-93.3 160-208 160z"></path></svg><%= article.commentCount %></span><% } %>
        </div>
        <div class="etc">
          <!--<% if (locals.setting.usePermissionImage) { %><img src="<%= article.permissionImage %>" class="permissionImage"><% } %>-->
       <!--  <% if (!article.useAnonymous) { %>
            <div class="userImage" style="background-image: url('<%= s3Host %>/userImage/<%= locals.user.image %>'); width: 30px; height: 30px;" onerror="this.style.display='none';"></div>
          <% } else { %>
            <div class="userImage" style="background-image: url('/assets/userImage.svg'); width: 30px; height: 30px;" onerror="this.style.display='none';"></div>
          <% } %>-->
          
          <div class="nickName"><%= article.nickName %></div>
          <div class="dot"></div>
          <% if (article.permissionName) { %>
          <div class="permissionName"><%= article.permissionName %></div>
          <div class="dot"></div>
          <% } %>
          <div class="datetime"><%= article.datetime %></div>
          <% if (locals.setting.useArticleViewCount) { %>
            <div class="dot"></div>
            <div class="viewCount"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"></path></svg><%= article.viewCount %></div>
          <% } %>
          <% if (article.likeCount) { %>
          <div class="dot"></div>
          <div class="likeCount"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M466.27 286.69C475.04 271.84 480 256 480 236.85c0-44.015-37.218-85.58-85.82-85.58H357.7c4.92-12.81 8.85-28.13 8.85-46.54C366.55 31.936 328.86 0 271.28 0c-61.607 0-58.093 94.933-71.76 108.6-22.747 22.747-49.615 66.447-68.76 83.4H32c-17.673 0-32 14.327-32 32v240c0 17.673 14.327 32 32 32h64c14.893 0 27.408-10.174 30.978-23.95 44.509 1.001 75.06 39.94 177.802 39.94 7.22 0 15.22.01 22.22.01 77.117 0 111.986-39.423 112.94-95.33 13.319-18.425 20.299-43.122 17.34-66.99 9.854-18.452 13.664-40.343 8.99-62.99zm-61.75 53.83c12.56 21.13 1.26 49.41-13.94 57.57 7.7 48.78-17.608 65.9-53.12 65.9h-37.82c-71.639 0-118.029-37.82-171.64-37.82V240h10.92c28.36 0 67.98-70.89 94.54-97.46 28.36-28.36 18.91-75.63 37.82-94.54 47.27 0 47.27 32.98 47.27 56.73 0 39.17-28.36 56.72-28.36 94.54h103.99c21.11 0 37.73 18.91 37.82 37.82.09 18.9-12.82 37.81-22.27 37.81 13.489 14.555 16.371 45.236-5.21 65.62zM88 432c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z"></path></svg><%= article.likeCount %></div>
          <% } %>
        </div>
      </div>
      <div class="image">
        <% if (article.images?.length) { %>
          <img src="/assets/empty.png" alt="<%= article.images[0].key %>" style="background-image: url('<%= s3Host %>/thumb/<%= article.images[0].key %>');">
          <% if (article.images.length >= 2) { %>
            <div class="count"><%= article.images.length %></div>
          <% } %>
        <% } else if (article.youtube) { %>
          <img src="/assets/empty.png" alt="<%= article.youtube %>" style="background-image: url('<%= article.youtube %>');">
        <% } %>
      </div>
    </a>
    <div class="line"></div>
  <% }) %>
</section>
