<article id="list">
  <% if (locals.setting.adsenseTop) { %>
  <div class="adsense"><%- locals.setting.adsenseTop %></div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleTop' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'articleTop' }) %>
  <% } %>
  <%- include('../title', { title: board.title }) %>
  <% if (board.categories?.length) { %>
  <div class="categories">
    <div class="category"><a href="?category=">전체</a></div>
    <% board.categories.forEach(category => { %>
      <div class="category"><a href="?category=<%= category.id %>"><%= category.title %></a></div>
    <% }) %>
  </div>
  <% } %>
  <% if (boardBanners.length) { %>
  <%- include('../banner', { banners: boardBanners, boardId: board.id, position: 'board' }); %>
  <% } %>
  <% if (notices.length) { %>
    <%- include(`./type/board`, { articles: notices }) %>
  <% } %>
  <% if (articles.length) { %>
    <% if (board.type.match('bookmark')) { %>
    <%- include(`./type/bookmark`, { articles: articles }) %>
    <% } else { %>
    <%- include(`./type/${board.type}`, { articles: articles }) %>
    <% } %>
  <% } %>
  <%- include('../pagination') %>
  <%- include('./searchAndWrite') %>
  <% if (locals.setting.adsenseBottom) { %>
  <div class="adsense"><%- locals.setting.adsenseBottom %></div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleBottom' && b.status === 1).length) { %>
    <%- include('../banner', { position: 'articleBottom' }) %>
  <% } %>
</article>