<style>
  .content a {
    color: <%= locals.setting.pointColor %>;
  }
  <% if (locals.setting.theme === 'black') { %>
  article h1 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .categoryContainer {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .notice {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  article input[type="text"],
  article input[type="password"] {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  article .content {
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
</style>
<script src="/javascripts/editorClassic.js" defer></script>
<article>
  <h1><%= board.title %></h1>
  <form action="/<%= board.slug %>/new" method="POST" enctype="multipart/form-data" onsubmit="onSubmit(this); return false;">
    <input type="hidden" name="articleId" value="<%= articleId %>">
    <% if (board.categories.length || locals.user?.isAdmin) { %>
    <div class="subContainer">
      <% if (board.categories.length) { %>
      <div class="categoryContainer">
        <select name="category" id="category">
          <% board.categories.forEach(c => { %>
          <option value="<%= c.id %>"><%= c.title %></option>
          <% }) %>
        </select>
      </div>
      <% } else { %>
      <input type="hidden" id="category" value="0">
      <% } %>
      <div class="checkBox">
        <% if (locals.user?.isAdmin) { %>
        <div class="notice">
          <label for="notice">공지</label>
          <input type="checkbox" name="notice" id="notice" value="1">
        </div>
        <div class="nametag">
          <label for="nametag">닉네임으로 표시</label>
          <input type="checkbox" name="nametag" id="nametag" value="0">
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
    <% if (!locals.user && board.writePermission === 0) { %>
    <div class="nonMember">
      <input type="text" name="nickName" placeholder="닉네임">
      <input type="password" name="password" placeholder="비밀번호">
    </div>
    <% } %>
    <div class="title"><input type="text" name="title" id="title" placeholder="제목"></div>
    <div class="customFieldContainer">
      <% if (board.useCustomField01) { %><div><input type="text" name="customField01" placeholder="<%= board.customFieldTitle01 %>"></div><% } %>
      <% if (board.useCustomField02) { %><div><input type="text" name="customField02" placeholder="<%= board.customFieldTitle02 %>"></div><% } %>
      <% if (board.useCustomField03) { %><div><input type="text" name="customField03" placeholder="<%= board.customFieldTitle03 %>"></div><% } %>
      <% if (board.useCustomField04) { %><div><input type="text" name="customField04" placeholder="<%= board.customFieldTitle04 %>"></div><% } %>
      <% if (board.useCustomField05) { %><div><input type="text" name="customField05" placeholder="<%= board.customFieldTitle05 %>"></div><% } %>
      <% if (board.useCustomField06) { %><div><input type="text" name="customField06" placeholder="<%= board.customFieldTitle06 %>"></div><% } %>
      <% if (board.useCustomField07) { %><div><input type="text" name="customField07" placeholder="<%= board.customFieldTitle07 %>"></div><% } %>
      <% if (board.useCustomField08) { %><div><input type="text" name="customField08" placeholder="<%= board.customFieldTitle08 %>"></div><% } %>
      <% if (board.useCustomField09) { %><div><input type="text" name="customField09" placeholder="<%= board.customFieldTitle09 %>"></div><% } %>
      <% if (board.useCustomField10) { %><div><input type="text" name="customField10" placeholder="<%= board.customFieldTitle10 %>"></div><% } %>
    </div>
    <div class="content">
      <div class="textareaContainer">
        <textarea name="content" id="editor"></textarea>
      </div>
    </div>
    <div class="tags">
      <input type="text" name="tags" placeholder="태그">
    </div>
    <% if (board.useLinks) { %>
    <div class="links">
      <input type="text" name="links" placeholder="링크">
    </div>
    <% } %>
    <% if (board.useFiles) { %>
    <div class="files">
      <input type="file" name="files" placeholder="파일" multiple>
    </div>
    <% } %>
    <div class="button"><button>등록</button></div>
  </form>
</article>