<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../../../head') %>
    <%- include('../../head') %>
  </head>
  <body>
    <%- include('../../../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('../../header') %>
          <%- include('../../../flash') %>
          <h2>주문</h2>
          <table>
            <thead>
              <tr>
                <th>주문일자</th>
                <th>주문코드</th>
                <th>주문 서비스</th>
                <th>주문 상태 메시지</th>
                <th>주문 상태</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(o => { %>
                <form action="/admin/order/edit/<%= o.id %>" method="POST">
                  <tr>
                    <td><%= o.datetime %></td>
                    <td><%= o.hash %></td>
                    <td><%= o.service %></td>
                    <td><textarea name="message" placeholder="주문 상태 메시지"><%= o.message %></textarea></td>
                    <td>
                      <select name="status">
                        <option value="1"<% if (o.status === 1) { %> selected<% } %>>주문완료</option>
                        <option value="2"<% if (o.status === 2) { %> selected<% } %>>작업완료</option>
                        <option value="0"<% if (o.status === 0) { %> selected<% } %>>주문취소</option>
                      </select>
                    </td>
                    <td><button name="submit" value="edit">수정</button></td>
                    <td><button name="submit" value="delete">삭제</button></td>
                  </tr>
                </form>
              <% }) %>
            </tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../../../footer') %>
  </body>
</html>